In [1]:
import pandas as pd
import itertools as it
import numpy as np

In [2]:
data = pd.read_csv('../Original_Data/annual_generation_source_state.csv')

In [3]:
data = data.drop(['Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9'],axis = 1)

In [4]:
data = data[data.STATE != '  ']
data = data[data.STATE != 'US-TOTAL']
data = data[data.STATE != 'US-Total']
data = data.set_index(np.arange(data.shape[0]))
data.dropna(inplace=True)
data['YEAR'] = data['YEAR'].astype(int)

In [5]:
data.head()

   YEAR STATE               ENERGY SOURCE GENERATION (Megawatthours)
0  1990    AK                       Total                  5,599,506
1  1990    AK                        Coal                    510,573
2  1990    AK  Hydroelectric Conventional                    974,521
3  1990    AK                 Natural Gas                  3,466,261
4  1990    AK                   Petroleum                    497,116

In [6]:
yearlist = []
yearcount = []
for key, group in it.groupby(data.YEAR):
    yearlist.append(key)
    yearcount.append(len(list(group)))
print(yearlist,yearcount)

[1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015] [418, 422, 428, 427, 431, 434, 433, 432, 437, 433, 435, 452, 464, 471, 474, 477, 479, 483, 504, 507, 515, 512, 518, 526, 530, 532]

In [7]:
statelist = []
for key, group in it.groupby(sorted(data.STATE)):
    statelist.append(key)
print(statelist)

['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [8]:
esourcelist = []
for key, group in it.groupby(sorted(data['ENERGY SOURCE'])):
    esourcelist.append(key)
print(esourcelist)

['Coal', 'Geothermal', 'Hydroelectric Conventional', 'Natural Gas', 'Nuclear', 'Other', 'Other Biomass', 'Other Gases', 'Petroleum', 'Pumped Storage', 'Solar Thermal and Photovoltaic', 'Total', 'Wind', 'Wood and Wood Derived Fuels']

In [9]:
arrangedata = pd.DataFrame(index = np.arange(len(yearlist)*len(statelist)),columns = (['Year','State'] + esourcelist))
year = []
for i in yearlist:
    year += list(np.full(len(statelist),i,dtype = int))
arrangedata.Year = year
state = []
for i in range(len(yearlist)):
    state += statelist
arrangedata.State = state

In [11]:
def sumby_asource(source):
    escountlist = []
    for i in range(len(yearlist)):
        for j in statelist:
            esourcesum = 0
            for index, row in data[sum(yearcount[0:i]):sum(yearcount[0:i+1])].iterrows():
                if row['STATE'] == j and row['ENERGY SOURCE'] == source:
                    esourcesum += int(row['GENERATION (Megawatthours)'].replace(',',''))
            escountlist.append(esourcesum)
    return escountlist

In [13]:
for i in esourcelist:
    arrangedata[i] = sumby_asource(i)

In [15]:
arrangedata

,Year,State,Coal,Geothermal,Hydroelectric Conventional,Natural Gas,Nuclear,Other,Other Biomass,Other Gases,Petroleum,Pumped Storage,Solar Thermal and Photovoltaic,Total,Wind,Wood and Wood Derived Fuels
0,1990,AK,510573,0,974521,3466261,0,0,0,0,497116,0,0,5599506,0,151035
1,1990,AL,53658115,0,10366507,1020714,12051882,0,47503,269476,138089,0,0,79652133,0,2099847
2,1990,AR,19207935,0,3654653,3578573,11282053,0,15389,0,79979,42972,0,39099598,0,1238044
3,1990,AZ,31915610,0,7417576,2333900,20597689,0,0,0,151867,249767,0,62774297,0,107888
4,1990,CA,2637677,14521254,23792567,74168308,32692807,0,2117915,2146742,5473852,986252,366668,165784909,2758881,4121986
5,1990,CO,29814983,0,1419870,1290092,0,0,28990,0,27390,-33198,0,32548127,0,0
6,1990,CT,3594645,0,570619,1251479,19776250,0,1073310,4,8874466,6474,0,35147247,0,0
7,1990,DC,0,0,0,0,0,0,0,0,361043,0,0,361043,0,0
8,1990,DE,5113479,0,0,763019,0,6315,0,164881,1793806,0,0,7841500,0,0
9,1990,FL,60100257,0,174604,18642683,21779560,1453102,1673078,0,25535138,0,0,131502553,0,2144131
10,1990,GA,68545692,0,4589117,830180,24796884,1,135457,0,499480,342110,0,102686240,0,2947319
11,1990,HI,2381,0,79516,0,0,0,840005,16163,8735862,0,0,9702752,28825,0
12,1990,IA,25751941,0,875114,333390,3011572,0,18018,0,54471,0,0,30044506,0,0
13,1990,ID,44371,0,9114990,55714,0,65203,0,0,994,0,0,9691475,0,410203
14,1990,IL,54966018,0,143926,1419891,71887302,0,154855,381562,438584,0,0,129392471,0,333
15,1990,IN,96925554,0,441021,1470837,0,0,37117,1674549,868038,0,0,101417116,0,0
16,1990,KS,23720258,0,13234,2502807,7874487,0,0,0,74026,0,0,34184857,45,0
17,1990,KY,70500461,0,3160383,27796,0,0,0,0,118646,0,0,73807286,0,0
18,1990,LA,17856687,0,656492,39474866,14196784,1292819,91646,440700,232098,0,0,76465630,0,2223538
19,1990,MA,11365893,0,1249242,6132702,5069620,0,1560515,830,15101792,-669583,0,39811011,0,0
20,1990,MD,23509862,0,2298910,1522443,1251416,0,371074,488197,3571272,0,0,33162292,0,149118
21,1990,ME,453218,0,4090536,50786,4860727,0,360798,0,3081100,0,0,15946014,0,3048849
22,1990,MI,67066870,0,1627918,7837956,21610500,0,310842,340949,861725,-694986,0,100059737,0,1097963
23,1990,MN,28176280,0,857046,539839,12139302,0,484811,0,447814,0,0,43070376,266,425018
24,1990,MO,48796793,0,2192115,312109,7998039,0,0,0,90033,-36259,0,59352830,0,0
25,1990,MS,9526527,0,0,5919664,7422131,0,0,0,738971,0,0,25201417,0,1594124
26,1990,MT,15119619,0,10716817,55255,0,0,0,0,28982,0,0,26029772,0,109099
27,1990,NC,49821595,0,6819427,203465,25905319,203406,26270,0,328025,180046,0,84925767,0,1438214
28,1990,ND,25189003,0,1711148,51563,0,0,0,0,41547,0,0,26993261,0,0
29,1990,NE,12661150,0,1140093,308065,7511298,0,0,0,12981,0,0,21633587,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296,2015,ME,91901,0,3360527,2951906,0,340013,182921,0,548263,0,0,11741265,1295708,2970026
1297,2015,MI,52884033,0,1499223,20044798,29333786,404802,1038263,1212778,826492,-480821,1190,113008050,4796898,1446608
1298,2015,MN,24697098,0,849054,7389438,12038606,389976,628826,0,27939,0,2789,56979768,9778845,1177196
1299,2015,MO,65325521,0,1595020,4596413,10440082,57564,99841,0,98842,347749,16898,83640067,1033076,29061
1300,2015,MS,6399605,0,0,45116943,11714588,6066,13454,0,14129,0,0,64757864,0,1493078
1301,2015,MT,16013206,0,9887729,599206,0,302772,0,17055,496426,0,0,29302401,1964726,21281
1302,2015,NC,39922168,0,4742004,36544596,42096761,685283,544024,0,434587,94,1373579,128388445,0,2045348
1303,2015,ND,27734413,0,2094168,711044,0,42168,3594,39063,26459,0,0,37156612,6505704,0
1304,2015,NE,24185421,0,1684980,430731,10324728,0,70953,0,6115,0,0,39883391,3180463,0
1305,2015,NH,936662,0,1270222,6051695,9484204,49720,118650,0,175564,0,0,20015893,423496,1505681
1306,2015,NJ,1759096,0,9541,36974456,33261760,582493,945693,221033,374936,-169577,627890,74608860,21539,0
1307,2015,NM,20439532,9675,99473,9364624,0,665,19573,0,62958,0,614877,32701398,2090021,0
1308,2015,NV,2657289,3110504,2264136,28999514,0,1013,25695,5523,15982,0,1657405,39046784,309724,0
1309,2015,NY,2380066,0,26014520,56923415,44602871,918817,1624771,0,1892293,-422812,100526,138627721,3976980,616274
1310,2015,OH,71709530,0,456669,28033716,17376736,-3135,472855,945021,1317027,0,56072,121893401,1203008,325902
1311,2015,OK,24867032,0,2663901,34286327,0,11400,91201,0,10812,-72496,1556,76135596,14030897,244967
1312,2015,OR,2377359,178804,31253851,16237092,0,41835,368525,0,6065,0,24208,57866535,6631555,747239
1313,2015,PA,64637233,0,2603704,59454655,80516752,898625,1934118,420237,729487,-508927,63894,214572291,3352672,469842
1314,2015,RI,0,0,3148,6585943,0,0,211238,0,114273,0,14351,6939019,10067,0
1315,2015,SC,22631173,0,2564360,16549306,53156320,48638,186386,0,193195,-904379,4220,96532213,0,2102993
1316,2015,SD,1495079,0,4850485,772753,0,0,0,0,17203,0,0,9633033,2497513,0
1317,2015,TN,30586331,0,9581240,9323730,24960472,20659,81768,11960,135133,-530702,76147,75214636,45841,922055
1318,2015,TX,121554284,0,956410,237731427,39354677,734324,783645,2579301,241564,0,400759,449826336,44833365,656580
1319,2015,UT,31656489,429517,768773,8217665,0,105732,85131,8304,19732,0,31859,41949120,625917,0
1320,2015,VA,17231426,0,1158428,33284216,28060358,461553,1103032,0,1107835,-1036382,0,84411592,0,3041126
1321,2015,VT,0,0,1139498,1493,0,0,18993,0,3056,0,48022,1982047,325365,445620
1322,2015,WA,5051915,0,73404916,13045927,8160912,99715,298948,395004,21671,40021,790,109287458,7075385,1692254
1323,2015,WI,37180547,0,2340681,13398775,10008183,62529,571059,0,207750,0,1417,66360183,1589381,999861
1324,2015,WV,68056093,0,1385043,1303630,0,0,4980,29077,140214,0,0,72295269,1376232,0
1325,2015,WY,43091189,0,868261,722304,0,77772,0,405386,44898,0,0,48966519,3756708,0

In [17]:
arrangedata.to_csv('arranged_esource',index=False)