In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import itertools as it
import warnings
%matplotlib inline

In [2]:
# read the fossil cost data
data = pd.read_csv("Fossil_Gen_Cost_df.csv")
data.head()

     YYMM State  Coal    NG  Petroleum
0  200801    AK  1.34  4.05      19.70
1  200801    AL  2.15  8.24      18.21
2  200801    AR  1.81  8.99      14.43
3  200801    AZ  1.62  8.01      19.90
4  200801    CA  1.41  7.27      19.96

In [3]:
# a for loop to check how many elements contained in specific month of year
yearlist = []
yearcount = []
for key, group in it.groupby(data.YYMM):
    yearlist.append(key)
    yearcount.append(len(list(group)))
print(yearlist,yearcount)

[200801, 200802, 200803, 200804, 200805, 200806, 200807, 200808, 200809, 200810, 200811, 200812, 200901, 200902, 200903, 200904, 200905, 200906, 200907, 200908, 200909, 200910, 200911, 200912, 201001, 201002, 201003, 201004, 201005, 201006, 201007, 201008, 201009, 201010, 201011, 201012, 201101, 201102, 201103, 201104, 201105, 201106, 201107, 201108, 201109, 201110, 201111, 201112, 201201, 201202, 201203, 201204, 201205, 201206, 201207, 201208, 201209, 201210, 201211, 201212, 201301, 201302, 201303, 201304, 201305, 201306, 201307, 201308, 201309, 201310, 201311, 201312, 201401, 201402, 201403, 201404, 201405, 201406, 201407, 201408, 201409, 201410, 201411, 201412, 201501, 201502, 201503, 201504, 201505, 201506, 201507, 201508, 201509, 201510, 201511, 201512, 201601, 201602, 201603, 201604, 201605, 201606, 201607, 201608, 201609, 201610, 201611] [50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50]

In [4]:
# convert the type of columns and drop all nan terms
data = data.replace('--',0)
data.Coal = data.Coal.astype(float)
data.NG = data.NG.astype(float)
data.Petroleum = data.Petroleum.astype(float)
data.YYMM = data.YYMM.apply(str)
data.replace(0,np.nan)

        YYMM State  Coal     NG  Petroleum
0     200801    AK  1.34   4.05      19.70
1     200801    AL  2.15   8.24      18.21
2     200801    AR  1.81   8.99      14.43
3     200801    AZ  1.62   8.01      19.90
4     200801    CA  1.41   7.27      19.96
5     200801    CO  1.28   6.71      19.47
6     200801    CT  3.24  13.63      21.77
7     200801    DE  2.53  10.33      18.45
8     200801    FL  2.66   9.31       9.79
9     200801    GA  2.69   9.45      20.56
10    200801    HI  1.34   4.05      15.24
11    200801    IA  1.15   8.85      20.08
12    200801    ID  1.44   8.60      19.79
13    200801    IL  1.66   8.76      23.21
14    200801    IN  1.72   9.02      19.89
15    200801    KS  1.35   7.76      19.12
16    200801    KY  1.89   8.91      19.28
17    200801    LA  2.27   8.25       7.59
18    200801    MA  3.24  11.66      17.75
19    200801    MD  2.50   9.54      18.20
20    200801    ME  3.24  11.89      18.20
21    200801    MI  1.94   9.23      15.72
22    200801    MN  1.58   8.48      20.39
23    200801    MO  1.44   8.46      19.28
24    200801    MS  3.11   8.31      16.85
25    200801    MT  1.27   9.10      18.91
26    200801    NC  2.83  11.64      19.25
27    200801    ND  1.01   8.81      19.54
28    200801    NE  0.88   9.07      20.49
29    200801    NH  3.24  12.12      19.45
...      ...   ...   ...    ...        ...
5320  201611    ME   NaN   3.33      10.97
5321  201611    MI  2.23   2.82      11.07
5322  201611    MN  2.02   3.34      11.94
5323  201611    MO  1.91   2.64      11.25
5324  201611    MS  2.67   2.77      11.46
5325  201611    MT   NaN    NaN        NaN
5326  201611    NC  3.19   3.54      11.29
5327  201611    ND  1.50   2.74       8.44
5328  201611    NE  1.34   2.98        NaN
5329  201611    NH   NaN    NaN      11.10
5330  201611    NJ   NaN    NaN        NaN
5331  201611    NM  2.07   2.94      13.31
5332  201611    NV  2.01   3.23        NaN
5333  201611    NY   NaN   3.28       7.00
5334  201611    OH  1.84   2.06      11.17
5335  201611    OK  1.97   2.73        NaN
5336  201611    OR  2.14   2.62        NaN
5337  201611    PA   NaN    NaN      11.25
5338  201611    RI   NaN    NaN      10.97
5339  201611    SC  3.11   3.19      12.37
5340  201611    SD  2.30   2.36      10.54
5341  201611    TN  2.31   2.83      11.42
5342  201611    TX  2.03   2.85      11.00
5343  201611    UT  1.90   3.16      11.43
5344  201611    VA  2.81   4.54       7.61
5345  201611    VT   NaN    NaN        NaN
5346  201611    WA  2.14   3.96      12.29
5347  201611    WI  2.17   3.10      11.01
5348  201611    WV  2.22   2.46      12.84
5349  201611    WY  1.50  12.11      11.75

[5350 rows x 5 columns]

In [5]:
# filterout warnings
warnings.filterwarnings("ignore")

year = np.arange(2008, 2017)
state = ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 
         'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 
         'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
df_avg = pd.DataFrame(columns = ['Year', 'States', 'Coal', 'NG', 'Petro'])
# calculate the mean cost for conventional resources by states and year
for i in range(len(year)):
    for j in range(len(state)):
        df_avg.loc[i*len(state)+ j] = [str(year[i]), state[j]
                                    , np.nanmean(data[data['YYMM'].str.contains(str(year[i]))][data.State == state[j]].Coal)
                                    , np.nanmean(data[data['YYMM'].str.contains(str(year[i]))][data.State == state[j]].NG)
                                    , np.nanmean(data[data['YYMM'].str.contains(str(year[i]))][data.State == state[j]].Petroleum)]

In [6]:
df_avg

     Year States      Coal          NG      Petro
0    2008     AK  1.453333    4.578333  22.521667
1    2008     AL  2.688333    9.514167  21.605833
2    2008     AR  1.719167   10.265833  15.248333
3    2008     AZ  1.729167    8.460000  23.175000
4    2008     CA  1.455833    7.855833  22.707500
5    2008     CO  1.436667    6.833333  23.545833
6    2008     CT  3.489167   27.844167  21.749167
7    2008     DE  2.877500   10.033333  20.639167
8    2008     FL  2.893333   10.183333  12.390000
9    2008     GA  3.035000   10.156667  17.721667
10   2008     HI  1.453333    4.578333  17.193333
11   2008     IA  1.180833    9.400833  22.317500
12   2008     ID  1.521667    8.450000  23.777500
13   2008     IL  1.787500    9.039167  23.390000
14   2008     IN  1.904167   10.001667  22.470833
15   2008     KS  1.414167    7.755833  22.181667
16   2008     KY  2.165833   11.589167  22.093333
17   2008     LA  2.359167    9.582500  10.529167
18   2008     MA  3.489167   10.848333  18.277500
19   2008     MD  3.695833   10.200833  18.441667
20   2008     ME  3.489167   11.511667  18.441667
21   2008     MI  1.942500   10.176667  19.309167
22   2008     MN  1.660000    9.397500  22.318333
23   2008     MO  1.497500    8.139167  21.871667
24   2008     MS  3.267500    9.294167  16.350833
25   2008     MT  1.338333    9.567500  20.749167
26   2008     NC  3.256667   12.175000  21.832500
27   2008     ND  1.081667    9.325000  22.950833
28   2008     NE  0.905833    8.915833  22.534167
29   2008     NH  3.489167   12.251667  20.845833
..    ...    ...       ...         ...        ...
420  2016     ME  2.578182    3.529091   4.095455
421  2016     MI  2.254545    2.778182  10.530000
422  2016     MN  2.058182    3.065455  11.000000
423  2016     MO  1.867273    2.691818  10.495455
424  2016     MS  2.641818    2.680000   8.418182
425  2016     MT  0.000000    0.000000   0.000000
426  2016     NC  3.097273    3.640909  10.300000
427  2016     ND  1.540000    2.560000   9.372727
428  2016     NE  1.343636    2.937273   4.252727
429  2016     NH  2.578182    4.497273   9.299091
430  2016     NJ  0.000000    0.000000   0.000000
431  2016     NM  1.854545    2.801818  11.375455
432  2016     NV  1.270909    2.831818   8.218182
433  2016     NY  0.000000    2.530909   6.477273
434  2016     OH  1.893636    2.106364  10.892727
435  2016     OK  1.915455    2.636364   8.788182
436  2016     OR  1.630909    2.214545   0.000000
437  2016     PA  0.000000    0.000000   9.206364
438  2016     RI  2.578182    0.455455   4.095455
439  2016     SC  3.193636    3.195455  11.274545
440  2016     SD  2.250000    2.420000   1.643636
441  2016     TN  2.233636    2.490909  10.260909
442  2016     TX  2.093636    2.623636  10.176364
443  2016     UT  1.942727    2.610000  10.382727
444  2016     VA  2.889091    3.044545   8.549091
445  2016     VT  2.578182    0.000000   0.000000
446  2016     WA  1.630909    3.361818   1.117273
447  2016     WI  2.210000    2.778182  10.677273
448  2016     WV  2.300000    2.302727  11.339091
449  2016     WY  1.688182  452.642727  11.051818

[450 rows x 5 columns]

In [7]:
#Change Unit to $/MWh
df_avg['Coal'] = df_avg['Coal']/0.29307107
df_avg['NG'] = df_avg['NG']/0.29307107
df_avg['Petro'] = df_avg['Petro']/0.29307107
df_avg.to_csv('conventional_cost_2008to2016.csv')
df_avg

     Year States       Coal           NG      Petro
0    2008     AK   4.958979    15.621922  76.847117
1    2008     AL   9.172974    32.463684  73.722163
2    2008     AR   5.866040    35.028477  52.029473
3    2008     AZ   5.900162    28.866718  79.076382
4    2008     CA   4.967510    26.805216  77.481206
5    2008     CO   4.902110    23.316301  80.341718
6    2008     CT  11.905531    95.008240  74.211237
7    2008     DE   9.818438    34.235154  70.423760
8    2008     FL   9.872463    34.746976  42.276435
9    2008     GA  10.355850    34.655985  60.468837
10   2008     HI   4.958979    15.621922  58.666089
11   2008     IA   4.029171    32.076975  76.150471
12   2008     ID   5.192142    28.832597  81.132198
13   2008     IL   6.099203    30.842917  79.809993
14   2008     IN   6.497286    34.127103  76.673666
15   2008     KS   4.825337    26.464002  75.686988
16   2008     KY   7.390130    39.543878  75.385583
17   2008     LA   8.049811    32.696847  35.927008
18   2008     MA  11.905531    37.016050  62.365419
19   2008     MD  12.610707    34.806688  62.925579
20   2008     ME  11.905531    39.279437  62.925579
21   2008     MI   6.628085    34.724228  65.885612
22   2008     MN   5.664155    32.065601  76.153314
23   2008     MO   5.109682    27.771989  74.629224
24   2008     MS  11.149173    31.713013  55.791359
25   2008     MT   4.566583    32.645665  70.799095
26   2008     NC  11.112208    41.542824  74.495582
27   2008     ND   3.690800    31.818221  78.311494
28   2008     NE   3.090832    30.422086  76.889768
29   2008     NH  11.905531    41.804422  71.128936
..    ...    ...        ...          ...        ...
420  2016     ME   8.797122    12.041758  13.974271
421  2016     MI   7.692828     9.479550  35.929851
422  2016     MN   7.022808    10.459765  37.533558
423  2016     MO   6.371399     9.184865  35.811977
424  2016     MS   9.014258     9.144540  28.724029
425  2016     MT   0.000000     0.000000   0.000000
426  2016     NC  10.568333    12.423297  35.145059
427  2016     ND   5.254698     8.735083  31.981073
428  2016     NE   4.584678    10.022391  14.510908
429  2016     NH   8.797122    15.345332  31.729815
430  2016     NJ   0.000000     0.000000   0.000000
431  2016     NM   6.327972     9.560200  38.814662
432  2016     NV   4.336522     9.662565  28.041600
433  2016     NY   0.000000     8.635820  22.101372
434  2016     OH   6.461355     7.187211  37.167528
435  2016     OK   6.535802     8.995646  29.986521
436  2016     OR   5.564893     7.556343   0.000000
437  2016     PA   0.000000     0.000000  31.413417
438  2016     RI   8.797122     1.554075  13.974271
439  2016     SC  10.897140    10.903343  38.470346
440  2016     SD   7.677319     8.257383   5.608320
441  2016     TN   7.621484     8.499335  35.011675
442  2016     TX   7.143784     8.952219  34.723194
443  2016     UT   6.628861     8.905690  35.427336
444  2016     VA   9.857987    10.388420  29.170709
445  2016     VT   8.797122     0.000000   0.000000
446  2016     WA   5.564893    11.471000   3.812293
447  2016     WI   7.540833     9.479550  36.432367
448  2016     WV   7.847926     7.857232  38.690584
449  2016     WY   5.760315  1544.481096  37.710369

[450 rows x 5 columns]