In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import itertools as it
%matplotlib inline

In [22]:
data = pd.read_csv('Fossil_Gen_Cost_df.csv')
data = data[data.State != 'District Of Columbia : electric utility']
data = data.sort(['YYMM','State'])
#data = data.reset_index(drop=True)
#data = data.replace('--',0)
data

C:\Users\Jiayuan\Miniconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

        YYMM State  Coal     NG Petroleum
0     200801    AK  1.34   4.05      19.7
1     200801    AL  2.15   8.24     18.21
2     200801    AR  1.81   8.99     14.43
3     200801    AZ  1.62   8.01      19.9
4     200801    CA  1.41   7.27     19.96
5     200801    CO  1.28   6.71     19.47
6     200801    CT  3.24  13.63     21.77
7     200801    DE  2.53  10.33     18.45
8     200801    FL  2.66   9.31      9.79
9     200801    GA  2.69   9.45     20.56
10    200801    HI  1.34   4.05     15.24
11    200801    IA  1.15   8.85     20.08
12    200801    ID  1.44    8.6     19.79
13    200801    IL  1.66   8.76     23.21
14    200801    IN  1.72   9.02     19.89
15    200801    KS  1.35   7.76     19.12
16    200801    KY  1.89   8.91     19.28
17    200801    LA  2.27   8.25      7.59
18    200801    MA  3.24  11.66     17.75
19    200801    MD   2.5   9.54      18.2
20    200801    ME  3.24  11.89      18.2
21    200801    MI  1.94   9.23     15.72
22    200801    MN  1.58   8.48     20.39
23    200801    MO  1.44   8.46     19.28
24    200801    MS  3.11   8.31     16.85
25    200801    MT  1.27    9.1     18.91
26    200801    NC  2.83  11.64     19.25
27    200801    ND  1.01   8.81     19.54
28    200801    NE  0.88   9.07     20.49
29    200801    NH  3.24  12.12     19.45
...      ...   ...   ...    ...       ...
5320  201611    ME     0   3.33     10.97
5321  201611    MI  2.23   2.82     11.07
5322  201611    MN  2.02   3.34     11.94
5323  201611    MO  1.91   2.64     11.25
5324  201611    MS  2.67   2.77     11.46
5325  201611    MT     0      0         0
5326  201611    NC  3.19   3.54     11.29
5327  201611    ND   1.5   2.74      8.44
5328  201611    NE  1.34   2.98         0
5329  201611    NH     0      0      11.1
5330  201611    NJ     0      0         0
5331  201611    NM  2.07   2.94     13.31
5332  201611    NV  2.01   3.23         0
5333  201611    NY     0   3.28         7
5334  201611    OH  1.84   2.06     11.17
5335  201611    OK  1.97   2.73         0
5336  201611    OR  2.14   2.62         0
5337  201611    PA     0      0     11.25
5338  201611    RI     0      0     10.97
5339  201611    SC  3.11   3.19     12.37
5340  201611    SD   2.3   2.36     10.54
5341  201611    TN  2.31   2.83     11.42
5342  201611    TX  2.03   2.85        11
5343  201611    UT   1.9   3.16     11.43
5344  201611    VA  2.81   4.54      7.61
5345  201611    VT     0      0         0
5346  201611    WA  2.14   3.96     12.29
5347  201611    WI  2.17    3.1     11.01
5348  201611    WV  2.22   2.46     12.84
5349  201611    WY   1.5  12.11     11.75

[5350 rows x 5 columns]

In [18]:
yearlist = []
yearcount = []
for key, group in it.groupby(data.YYMM):
    yearlist.append(key)
    yearcount.append(len(list(group)))
print(yearlist,yearcount)

[200801, 200802, 200803, 200804, 200805, 200806, 200807, 200808, 200809, 200810, 200811, 200812, 200901, 200902, 200903, 200904, 200905, 200906, 200907, 200908, 200909, 200910, 200911, 200912, 201001, 201002, 201003, 201004, 201005, 201006, 201007, 201008, 201009, 201010, 201011, 201012, 201101, 201102, 201103, 201104, 201105, 201106, 201107, 201108, 201109, 201110, 201111, 201112, 201201, 201202, 201203, 201204, 201205, 201206, 201207, 201208, 201209, 201210, 201211, 201212, 201301, 201302, 201303, 201304, 201305, 201306, 201307, 201308, 201309, 201310, 201311, 201312, 201401, 201402, 201403, 201404, 201405, 201406, 201407, 201408, 201409, 201410, 201411, 201412, 201501, 201502, 201503, 201504, 201505, 201506, 201507, 201508, 201509, 201510, 201511, 201512, 201601, 201602, 201603, 201604, 201605, 201606, 201607, 201608, 201609, 201610, 201611] [50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50]

In [20]:
data = pd.read_csv('Fossil_Gen_Cost_df.csv')
data = data[data.State != 'District Of Columbia : electric utility']
data = data.sort(['YYMM','State'])
data = data.reset_index(drop=True)
data = data.replace('--',0)
data['Coal','NG','Petroleum'] = data['Coal','NG','Petroleum'].replace('NM',0)
data.Coal = data.Coal.astype(float)
data.NG = data.NG.astype(float)
data.Petroleum = data.Petroleum.astype(float)
data.YYMM = data.YYMM.apply(str)
data.replace(0,np.nan)

C:\Users\Jiayuan\Miniconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

KeyError: ('Coal', 'NG', 'Petroleum')

In [ ]:
year = np.arange(2008, 2017)
state = ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
df_avg = pd.DataFrame(columns = ['Year', 'States', 'Coal', 'NG', 'Petro'])
for i in range(len(year)):
    for j in range(len(state)):
        df_avg.loc[i*len(state)+ j] = [str(year[i]), state[j]
                                    , np.nanmean(data[data['YYMM'].str.contains(str(year[i]))][data.States == state[j]].Coal)
                                    , np.nanmean(data[data['YYMM'].str.contains(str(year[i]))][data.States == state[j]].NG)
                                    , np.nanmean(data[data['YYMM'].str.contains(str(year[i]))][data.States == state[j]].Petroleum)]

In [ ]:
df_avg

In [ ]:
data[data.States == 'NM']

In [ ]:
len(state)

In [7]:
12 * 8 * 50

4800