In [1]:
import pandas as pd
import numpy as np

In [2]:
weather_total = pd.read_csv('final_weather_table.txt',low_memory=False)
weather_total.head()

,Unnamed: 0,YYMM,State,WBAN,Latitude,Longitude,AvgTemp,TotalMonthlyPrecip,Avgwindspeed
0,0,199607,AK,25704,51.883,-176.650,51.6,0.22,NaN
1,1,199607,AL,13894,30.688,-88.246,81.7,4.95,5.6
2,2,199607,AL,13895,32.301,-86.394,80.8,8.72,4.8
3,3,199607,AL,3856,34.644,-86.786,78.2,4.7,5.6
4,4,199607,AR,13964,35.334,-94.365,79.7,7.67,5.3

In [72]:
windspeed = weather_total.iloc[:,[1,2,3,-1]]
precip = weather_total.iloc[:,[1,2,3,-2]]
temp = weather_total.iloc[:,[1,2,3,-3]]

In [59]:
statelist = ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 
             'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 
             'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 
             'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [73]:
#WindSpeed
windspeed.replace('M',np.nan,inplace=True)
windspeed.dropna(inplace=True)
windspeed.head(10)

C:\Users\Jiayuan\Miniconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Jiayuan\Miniconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

      YYMM State   WBAN Avgwindspeed
1   199607    AL  13894          5.6
2   199607    AL  13895          4.8
3   199607    AL   3856          5.6
4   199607    AR  13964          5.3
5   199607    AZ  93167         10.7
6   199607    AZ   3103          5.2
7   199607    AZ   3145          9.8
9   199607    AZ  23194          8.1
10  199607    AZ  23160          7.6
11  199607    AZ  23183          6.7

In [66]:
#extract one state and reset index
AZ = windspeed[windspeed['State'].isin(['AZ'])]
AZ.reset_index(inplace=True)
AZ = AZ.iloc[:,1:]
AZ.head()

     YYMM State   WBAN Avgwindspeed
0  199607    AZ  93167         10.7
1  199607    AZ   3103          5.2
2  199607    AZ   3145          9.8
3  199607    AZ  23194          8.1
4  199607    AZ  23160          7.6

In [67]:
AZ.YYMM = AZ.YYMM.astype(str)#convert items in AZ.YYMM from int to str

In [71]:
AZ_1996 = AZ[AZ['YYMM'].str.contains("1996")]#call all the data in 1996 for AZ
AZ_1996['Avgwindspeed'] = AZ_1996['Avgwindspeed'].astype(float)#convert items in AZ.wind from str to float
avg_AZ_1996 = sum(list(AZ_1996['Avgwindspeed']))/len(list(AZ_1996['Avgwindspeed']))

C:\Users\Jiayuan\Miniconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app