In [2]:
import pandas as pd
import numpy as np

In [62]:
weather_total = pd.read_csv('final_weather_table.txt',low_memory=False)
weather_total.head()

,Unnamed: 0,YYMM,State,WBAN,Latitude,Longitude,AvgTemp,TotalMonthlyPrecip,Avgwindspeed
0,0,199607,AK,25704,51.883,-176.650,51.6,0.22,NaN
1,1,199607,AL,13894,30.688,-88.246,81.7,4.95,5.6
2,2,199607,AL,13895,32.301,-86.394,80.8,8.72,4.8
3,3,199607,AL,3856,34.644,-86.786,78.2,4.7,5.6
4,4,199607,AR,13964,35.334,-94.365,79.7,7.67,5.3

In [44]:
#WindSpeed
windspeed = weather_total.iloc[:,[1,2,3,-1]]
windspeed.replace('M',np.nan,inplace=True)
windspeed.dropna(inplace=True)
windspeed.head(10)

C:\Users\Jiayuan\Miniconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\Jiayuan\Miniconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      YYMM State   WBAN Avgwindspeed
1   199607    AL  13894          5.6
2   199607    AL  13895          4.8
3   199607    AL   3856          5.6
4   199607    AR  13964          5.3
5   199607    AZ  93167         10.7
6   199607    AZ   3103          5.2
7   199607    AZ   3145          9.8
9   199607    AZ  23194          8.1
10  199607    AZ  23160          7.6
11  199607    AZ  23183          6.7

In [7]:
#revise the type of columns
windspeed['YYMM'] = windspeed['YYMM'].astype(str)
windspeed['Avgwindspeed'] = windspeed['Avgwindspeed'].astype(float)

C:\Users\Jiayuan\Miniconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Jiayuan\Miniconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [28]:
#for loop for all 51 states
statelist = ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 
             'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 
             'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 
             'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
state_total = pd.DataFrame()

#Run for all 51 states
for item in statelist:
    name = item #remain the name of state as str
    item = windspeed[windspeed['State'].isin([item])] #extract dataframe of a specific state
    
    #for all the year in a specific state

    item.reset_index(inplace=True)
    item = item.iloc[:,1:]

    year_list = ['1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006',
                '2007','2008','2009','2010','2011','2012','2013','2014','2015','2016']
    avg_list = []
    avg_windspeed = pd.DataFrame()
    for i in year_list:
        year = item[item['YYMM'].str.contains(i)]#find all the data in a specific year
        avg = sum(list(year['Avgwindspeed']))/len(list(year['Avgwindspeed']))
        avg_list.append(avg)

    #Create a list of state containing 21 items of AZ
    state = pd.Series(np.zeros(21))
    state.replace('0.0',name,inplace=True)

    avg_windspeed['State'] = state
    avg_windspeed['Year'] = year_list
    avg_windspeed['Avgwindspeed'] = avg_list
    
    state_total = state_total.append(avg_windspeed,ignore_index=True)

In [31]:
state_total.to_csv('state_total_windspeed.csv')

In [63]:
#Precip
precip = weather_total.iloc[:,[1,2,3,-2]]
precip.replace('M',np.nan,inplace=True)
precip.replace('T','0.0',inplace=True)
precip.dropna(inplace=True)
precip.head(20)

C:\Users\yongquan\Miniconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\yongquan\Miniconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\yongquan\Miniconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      YYMM State   WBAN TotalMonthlyPrecip
0   199607    AK  25704               0.22
1   199607    AL  13894               4.95
2   199607    AL  13895               8.72
3   199607    AL   3856                4.7
4   199607    AR  13964               7.67
5   199607    AZ  93167               1.69
6   199607    AZ   3103               1.79
7   199607    AZ   3145               0.12
8   199607    AZ   3195               1.09
9   199607    AZ  23194                0.0
10  199607    AZ  23160               1.88
11  199607    AZ  23183               0.58
12  199607    CA  93193                0.0
13  199607    CA  23155                0.0
14  199607    CA  23157                0.0
15  199607    CA  23187                0.0
16  199607    CA  24257               0.33
17  199607    CA  93115                0.0
18  199607    CA  23225                0.0
21  199607    CA  24216                0.0

In [64]:
#revise the type of columns
precip['YYMM'] = precip['YYMM'].astype(str)
precip['TotalMonthlyPrecip'] = precip['TotalMonthlyPrecip'].astype(float)

C:\Users\yongquan\Miniconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\yongquan\Miniconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [65]:
#for loop for all 51 states
statelist = ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 
             'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 
             'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 
             'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
state_total_precip = pd.DataFrame()

#Run for all 51 states
for item in statelist:
    name = item #remain the name of state as str
    item = precip[precip['State'].isin([item])] #extract dataframe of a specific state
    
    #for all the year in a specific state

    item.reset_index(inplace=True)
    item = item.iloc[:,1:]

    year_list = ['1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006',
                '2007','2008','2009','2010','2011','2012','2013','2014','2015','2016']
    avg_list = []
    avg_precip = pd.DataFrame()
    for i in year_list:
        year = item[item['YYMM'].str.contains(i)]#find all the data in a specific year
        avg = sum(list(year['TotalMonthlyPrecip']))/len(list(year['TotalMonthlyPrecip']))
        avg_list.append(avg)

    #Create a list of state containing 21 items of AZ
    state = pd.Series(np.zeros(21))
    state.replace('0.0',name,inplace=True)

    avg_precip['State'] = state
    avg_precip['Year'] = year_list
    avg_precip['TotalMonthlyPrecip'] = avg_list
    
    state_total_precip = state_total_precip.append(avg_precip,ignore_index=True)

In [66]:
state_total_precip.to_csv('state_total_precip.csv')

#for all the year in a specific state

#extract one state and reset index
AZ = windspeed[windspeed['State'].isin(['AZ'])]
AZ.reset_index(inplace=True)
AZ = AZ.iloc[:,1:]

year_list = ['1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006',
            '2007','2008','2009','2010','2011','2012','2013','2014','2015','2016']
avg_list = []
avg_windspeed = pd.DataFrame()
for i in year_list:
    year = AZ[AZ['YYMM'].str.contains(i)]#find all the data in a specific year
    avg = sum(list(year['Avgwindspeed']))/len(list(year['Avgwindspeed']))
    avg_list.append(avg)

#Create a list of state containing 21 items of AZ
state = pd.Series(np.zeros(21))
state.replace('0.0','AZ',inplace=True)

avg_windspeed['State'] = state
avg_windspeed['Year'] = year_list
avg_windspeed['Avgwindspeed'] = avg_list

In [5]:
df1 = pd.read_csv('state_total_precip.csv')
print(df1.head())
#df_1 = df1.iloc[:,[1,2,-1]]
#df_1
state = pd.DataFrame(df1.iloc[:,1])
year = pd.DataFrame(df1.iloc[:,2])
TotalMonthlyPrecip = pd.DataFrame(df1.iloc[:,3])

   Unnamed: 0 State  Year  TotalMonthlyPrecip
0           0    AK  1996            2.326250
1           1    AK  1997            5.604615
2           2    AK  1998            2.905821
3           3    AK  1999            3.389773
4           4    AK  2000            3.018342

In [6]:
df2 = pd.read_csv('state_total_temp.csv')
print(df2.head())
#df_2 = df2.iloc[:,[3,-1]]
#df_2
TempSummer = pd.DataFrame(df2.iloc[:,3])
TempWinter = pd.DataFrame(df2.iloc[:,4])

   Unnamed: 0 State  Year  TempSummer  TempWinter
0           0    AK  1996   55.000000   31.320000
1           1    AK  1997   53.386970   27.537821
2           2    AK  1998   53.293705   17.716720
3           3    AK  1999   54.316565    8.305729
4           4    AK  2000   52.225000   20.123256

In [7]:
df3 = pd.read_csv('state_total_windspeed.csv')
print(df3.head())
#df_3 = df3.iloc[:,[3]]
#df_3
Avgwindspeed = pd.DataFrame(df3.iloc[:,3])

   Unnamed: 0 State  Year  Avgwindspeed
0           0    AK  1996     13.684615
1           1    AK  1997      9.979630
2           2    AK  1998      8.070060
3           3    AK  1999      8.382022
4           4    AK  2000      8.205013

In [45]:
frames = [df_1, df_2, df_3]
result = pd.concat(frames)
result

      Avgwindspeed State  TempSummer  TempWinter    Year
0         2.326250    AK         NaN         NaN  1996.0
1         5.604615    AK         NaN         NaN  1997.0
2         2.905821    AK         NaN         NaN  1998.0
3         3.389773    AK         NaN         NaN  1999.0
4         3.018342    AK         NaN         NaN  2000.0
5         2.844638    AK         NaN         NaN  2001.0
6         2.877345    AK         NaN         NaN  2002.0
7         2.296013    AK         NaN         NaN  2003.0
8         2.904050    AK         NaN         NaN  2004.0
9         3.067795    AK         NaN         NaN  2005.0
10        2.902018    AK         NaN         NaN  2006.0
11        2.877883    AK         NaN         NaN  2007.0
12        2.992284    AK         NaN         NaN  2008.0
13        2.567529    AK         NaN         NaN  2009.0
14        2.602774    AK         NaN         NaN  2010.0
15        2.936538    AK         NaN         NaN  2011.0
16        2.657716    AK         NaN         NaN  2012.0
17        2.991111    AK         NaN         NaN  2013.0
18        3.050311    AK         NaN         NaN  2014.0
19        3.258558    AK         NaN         NaN  2015.0
20        2.943859    AK         NaN         NaN  2016.0
21        4.178261    AL         NaN         NaN  1996.0
22        4.018493    AL         NaN         NaN  1997.0
23        3.105980    AL         NaN         NaN  1998.0
24        3.296557    AL         NaN         NaN  1999.0
25        2.354100    AL         NaN         NaN  2000.0
26        4.057285    AL         NaN         NaN  2001.0
27        3.815282    AL         NaN         NaN  2002.0
28        5.060000    AL         NaN         NaN  2003.0
29        4.298531    AL         NaN         NaN  2004.0
...            ...   ...         ...         ...     ...
1041      5.695370   NaN         NaN         NaN     NaN
1042      5.428448   NaN         NaN         NaN     NaN
1043      5.204310   NaN         NaN         NaN     NaN
1044      5.404310   NaN         NaN         NaN     NaN
1045      5.072034   NaN         NaN         NaN     NaN
1046      5.453333   NaN         NaN         NaN     NaN
1047      6.104348   NaN         NaN         NaN     NaN
1048      5.703361   NaN         NaN         NaN     NaN
1049      5.788333   NaN         NaN         NaN     NaN
1050     10.610526   NaN         NaN         NaN     NaN
1051      9.298077   NaN         NaN         NaN     NaN
1052      8.420652   NaN         NaN         NaN     NaN
1053      8.858394   NaN         NaN         NaN     NaN
1054      8.801724   NaN         NaN         NaN     NaN
1055      8.607614   NaN         NaN         NaN     NaN
1056      9.361000   NaN         NaN         NaN     NaN
1057      9.142857   NaN         NaN         NaN     NaN
1058      8.933168   NaN         NaN         NaN     NaN
1059      8.805051   NaN         NaN         NaN     NaN
1060      9.228218   NaN         NaN         NaN     NaN
1061      8.829348   NaN         NaN         NaN     NaN
1062      8.939891   NaN         NaN         NaN     NaN
1063      8.609645   NaN         NaN         NaN     NaN
1064      8.397030   NaN         NaN         NaN     NaN
1065      8.995000   NaN         NaN         NaN     NaN
1066      8.832870   NaN         NaN         NaN     NaN
1067      8.741379   NaN         NaN         NaN     NaN
1068      9.436318   NaN         NaN         NaN     NaN
1069      8.552195   NaN         NaN         NaN     NaN
1070      9.117822   NaN         NaN         NaN     NaN

[3213 rows x 5 columns]

In [9]:
pd_list = [state, year, TotalMonthlyPrecip, TempSummer, TempWinter, Avgwindspeed]
final_weater = pd.concat(pd_list, axis=1)
final_weater.columns = ['State','Year','TotalMonthlyPrecip','TempSummer','TempWinter','Avgwindspeed']
final_weater

     State  Year  TotalMonthlyPrecip  TempSummer  TempWinter  Avgwindspeed
0       AK  1996            2.326250   55.000000   31.320000     13.684615
1       AK  1997            5.604615   53.386970   27.537821      9.979630
2       AK  1998            2.905821   53.293705   17.716720      8.070060
3       AK  1999            3.389773   54.316565    8.305729      8.382022
4       AK  2000            3.018342   52.225000   20.123256      8.205013
5       AK  2001            2.844638   53.287839   15.282611      8.080039
6       AK  2002            2.877345   54.825000   13.759524      8.034436
7       AK  2003            2.296013   52.302326   12.611628      8.039040
8       AK  2004            2.904050   58.327273   15.888372      8.078968
9       AK  2005            3.067795   54.793909   16.910694      7.828205
10      AK  2006            2.902018   55.584211    3.650000      7.858994
11      AK  2007            2.877883   52.648780    9.279070      7.440127
12      AK  2008            2.992284   53.368293    7.904878      7.203304
13      AK  2009            2.567529   53.739658   11.596737      7.488822
14      AK  2010            2.602774   51.265466   14.299109      7.431961
15      AK  2011            2.936538   52.655652   21.361254      7.793822
16      AK  2012            2.657716   52.688401    7.825705      7.511195
17      AK  2013            2.991111   55.797662   15.731509      7.562595
18      AK  2014            3.050311   53.352819   18.541134      7.642744
19      AK  2015            3.258558   54.673234   16.397042      8.024063
20      AK  2016            2.943859   56.162272   19.939273      8.147628
21      AL  1996            4.178261   80.233333   50.260000      6.590909
22      AL  1997            4.018493   78.342857   47.413333      6.549254
23      AL  1998            3.105980   81.329630   50.230952      6.044211
24      AL  1999            3.296557   77.236970   49.484848      5.706977
25      AL  2000            2.354100   82.172727   39.216667      5.953191
26      AL  2001            4.057285   78.587179   48.401282      5.498649
27      AL  2002            3.815282   81.046154   46.100000      5.839456
28      AL  2003            5.060000   76.484615   44.946154      5.659459
29      AL  2004            4.298531   80.115385   45.892308      5.950000
...    ...   ...                 ...         ...         ...           ...
1041    WV  2008            3.385000   72.410000   32.610000      5.695370
1042    WV  2009            3.286911   69.075833   31.800909      5.428448
1043    WV  2010            3.169847   73.567273   32.646667      5.204310
1044    WV  2011            4.118788   72.854545   34.715152      5.404310
1045    WV  2012            3.219846   71.894949   37.824242      5.072034
1046    WV  2013            3.333053   71.264242   34.781818      5.453333
1047    WV  2014            3.148015   68.002727   30.910909      6.104348
1048    WV  2015            3.491756   71.744848   30.960606      5.703361
1049    WV  2016            3.415625   73.512121   33.366330      5.788333
1050    WY  1996            0.770000   70.266667   24.680000     10.610526
1051    WY  1997            0.999825   66.591667   22.493333      9.298077
1052    WY  1998            0.868437   64.618452   27.237273      8.420652
1053    WY  1999            0.583769   66.751111   27.836783      8.858394
1054    WY  2000            0.573583   65.807692   18.450000      8.801724
1055    WY  2001            0.478693   67.996078   24.202083      8.607614
1056    WY  2002            0.592151   72.552941   20.929412      9.361000
1057    WY  2003            0.852017   59.023529   19.929412      9.142857
1058    WY  2004            0.878182   67.288235   24.011765      8.933168
1059    WY  2005            0.946834   65.321438   26.798039      8.805051
1060    WY  2006            0.607619   65.493137   27.402941      9.228218
1061    WY  2007            0.804359   65.670588   17.826667      8.829348
1062    WY  2008            0.966349   70.252941   15.850000      8.939891
1063    WY  2009            0.876351   62.677709   24.319227      8.609645
1064    WY  2010            0.928363   64.800000   22.284211      8.397030
1065    WY  2011            1.024891   66.579142   24.099484      8.995000
1066    WY  2012            0.559231   69.233333   28.341131      8.832870
1067    WY  2013            0.935177   68.332095   23.192495      8.741379
1068    WY  2014            0.971733   64.378947   25.654386      9.436318
1069    WY  2015            1.023509   65.289743   25.229825      8.552195
1070    WY  2016            1.039315   67.436779   25.995251      9.117822

[1071 rows x 6 columns]