In [67]:
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [68]:
filter_source = ['All Source', 'Other Biomass', 'Other', 'Other Gases', 'Ohter Biomass', 'Wood and Wood Derived Fuels', 'Geothermal', 'Nuclear', 'Pumped Storage']
wanted_source = ['Coal', 'Petroleum', 'Hydroelectric', 'Natural Gas', 'Wind', 'Solar Thermal and Photovoltaic']
statelist = ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 
             'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 
             'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 
             'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [69]:
plants = pd.read_csv('plantcapacity.csv')
plants = plants.drop(['Producer Type','Generators','Nameplate Capacity (Megawatts)','Summer Capacity (Megawatts)'],axis = 1)
plants = plants[plants['Year'].isin([2015])] 

for item in filter_source:
    plants = plants[plants['Fuel Source'].str.contains(item) == False]

plants = plants.rename(columns = {'State Code':'State','Fuel Source':'Source'})    
plants.head()

       Year State         Source Facilities
37306  2015    AK           Coal          1
37308  2015    AK           Coal          2
37310  2015    AK      Petroleum          3
37312  2015    AK           Coal          2
37313  2015    AK  Hydroelectric         30

In [70]:
mod_plants = []
for state in statelist:
    state_plants = plants[plants['State'].isin([state])]
    state_plants['Facilities'] = state_plants['Facilities'].astype(int)
    state_plants = state_plants.groupby(['Year', 'State', 'Source'], as_index = False).agg(sum)
    mod_plants.append(state_plants)
mod_plants = pd.concat(mod_plants, axis=0).reset_index(drop = True)
mod_plants.head()

/Users/IvanC/miniconda3/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Year State         Source  Facilities
0  2015    AK           Coal          10
1  2015    AK  Hydroelectric          60
2  2015    AK    Natural Gas          30
3  2015    AK      Petroleum         192
4  2015    AK           Wind          12

In [120]:
final_plants = pd.DataFrame()
final_plants['State'] = statelist
final_plants.insert(0, 'Year', 2015)

for item in wanted_source:
    source_df = mod_plants[mod_plants['Source'].isin([item])]
    source_df = source_df.drop(['Year', 'Source'], axis = 1)
    source_df = source_df.rename(columns = {'Facilities':item}) 
    final_plants = pd.merge(final_plants, source_df, on = 'State', how = 'left').fillna(0)
    final_plants[item] = final_plants[item].astype(int)
    

final_plants = final_plants.rename(columns = {'Petroleum':'Petro','Natural Gas':'NG','Hydroelectric':'Hydro','Solar Thermal and Photovoltaic':'Solar'})
final_plants = final_plants[['Year', 'State', 'Coal', 'NG', 'Petro', 'Hydro', 'Solar', 'Wind']]
final_plants

    Year State  Coal   NG  Petro  Hydro  Solar  Wind
0   2015    AK    10   30    192     60      0    12
1   2015    AL    14   54      8     48      0     0
2   2015    AR    10   36      6     38      2     0
3   2015    AZ    12   62      8     20    118    10
4   2015    CA     4  580     30    502    742   230
5   2015    CO    26   62     26     84     58    48
6   2015    CT     2   68     56     28      6     0
7   2015    DC     0    2      0      0      0     0
8   2015    DE     2   20     10      0     14     2
9   2015    FL    26  142     42      4     26     0
10  2015    GA    14   68     52     60     36     0
11  2015    HI     2    0     38     16     18    14
12  2015    IA    40   72    208      6      0   146
13  2015    ID     4   18      2    148      0    64
14  2015    IL    46  156     76     18     10    62
15  2015    IN    46   58     34     10     76    22
16  2015    KS    12  136    100      2      2    48
17  2015    KY    32   26      4     14      0     0
18  2015    LA     8  116     14      2      0     0
19  2015    MA     2   72     56     58    268    38
20  2015    MD    16   34     32      4     52    10
21  2015    ME     0   16     12    110      0    24
22  2015    MI    52  122     90    112      4    44
23  2015    MN    24   72    150     54      4   250
24  2015    MO    40   86    102     12      8    12
25  2015    MS     6   58      8      0      0     0
26  2015    MT    10   10      2     46      0    24
27  2015    NC    26   36     96     82    528     0
28  2015    ND    20    6     20      2      0    52
29  2015    NE    20   68     72     22      0    30
30  2015    NH     4    6     18     68      0     6
31  2015    NJ     8   98     16      4    250     4
32  2015    NM     6   46      8     10     82    30
33  2015    NV     6   36      2     12     38     2
34  2015    NY    12  180     84    320     50    44
35  2015    OH    34   76    114     10     28    20
36  2015    OK    14   60     26     20      2    72
37  2015    OR     2   24      0    130     16    68
38  2015    PA    50   80     76     34     40    48
39  2015    RI     0   16      4      4     12     6
40  2015    SC    16   40     32     64      2     0
41  2015    SD     2   16     26      8      0    22
42  2015    TN    14   24      8     56     10     4
43  2015    TX    42  320     24     46     30   260
44  2015    UT    12   46      6     58     30     6
45  2015    VA    26   50     76     50      0     0
46  2015    VT     0    0     18     92     32     8
47  2015    WA     2   38      8    148      2    42
48  2015    WI    30   90     64    130      2    24
49  2015    WV    24    6      2     22      0    10
50  2015    WY    24   20      6     32      0    40

In [121]:
final_plants.to_csv('final_plants.csv')