In [4]:
import pandas as pd
import matplotlib as plt
import numpy as np
%matplotlib inline

In [5]:
filter_source = ['All Source', 'Other Biomass', 'Other', 'Other Gases', 'Ohter Biomass', 'Wood and Wood Derived Fuels', 'Geothermal', 'Nuclear', 'Pumped Storage']
wanted_source = ['Coal', 'Petroleum', 'Hydroelectric', 'Natural Gas', 'Wind', 'Solar Thermal and Photovoltaic']
statelist = ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 
             'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 
             'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 
             'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [6]:
plants = pd.read_csv('plantcapacity.csv')
plants = plants.drop(['Producer Type','Generators','Nameplate Capacity (Megawatts)','Summer Capacity (Megawatts)'],axis = 1)
plants = plants[plants['Year'].isin([2015])] 

for item in filter_source:
    plants = plants[plants['Fuel Source'].str.contains(item) == False]

plants = plants.rename(columns = {'State Code':'State','Fuel Source':'Source'})    
plants.head()

       Year State         Source Facilities
37306  2015    AK           Coal          1
37308  2015    AK           Coal          2
37310  2015    AK      Petroleum          3
37312  2015    AK           Coal          2
37313  2015    AK  Hydroelectric         30

In [7]:
mod_plants = []
for state in statelist:
    state_plants = plants[plants['State'].isin([state])]
    state_plants['Facilities'] = state_plants['Facilities'].astype(int)
    state_plants = state_plants.groupby(['Year', 'State', 'Source'], as_index = False).agg(sum)
    mod_plants.append(state_plants)
mod_plants = pd.concat(mod_plants, axis=0).reset_index(drop = True)
mod_plants.head()

/Users/IvanC/miniconda3/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Year State         Source  Facilities
0  2015    AK           Coal          10
1  2015    AK  Hydroelectric          60
2  2015    AK    Natural Gas          30
3  2015    AK      Petroleum         192
4  2015    AK           Wind          12

In [17]:
final_plants = pd.DataFrame()
final_plants['State'] = statelist
final_plants.insert(0, 'Year', 2015)

for item in wanted_source:
    source_df = mod_plants[mod_plants['Source'].isin([item])]
    source_df = source_df.drop(['Year', 'Source'], axis = 1)
    source_df = source_df.rename(columns = {'Facilities':item}) 
    final_plants = pd.merge(final_plants, source_df, on = 'State', how = 'left').fillna(0)
    final_plants[item] = final_plants[item].astype(int)
    

final_plants = final_plants.rename(columns = {'Petroleum':'Petro','Natural Gas':'NG','Hydroelectric':'Hydro','Solar Thermal and Photovoltaic':'Solar'})
final_plants = final_plants[['Year', 'State', 'Coal', 'NG', 'Petro', 'Hydro', 'Solar', 'Wind']]
final_plants = final_plants[final_plants['State'] != 'DC']
final_plants

    Year State  Coal   NG  Petro  Hydro  Solar  Wind
0   2015    AK    10   30    192     60      0    12
1   2015    AL    14   54      8     48      0     0
2   2015    AR    10   36      6     38      2     0
3   2015    AZ    12   62      8     20    118    10
4   2015    CA     4  580     30    502    742   230
5   2015    CO    26   62     26     84     58    48
6   2015    CT     2   68     56     28      6     0
8   2015    DE     2   20     10      0     14     2
9   2015    FL    26  142     42      4     26     0
10  2015    GA    14   68     52     60     36     0
11  2015    HI     2    0     38     16     18    14
12  2015    IA    40   72    208      6      0   146
13  2015    ID     4   18      2    148      0    64
14  2015    IL    46  156     76     18     10    62
15  2015    IN    46   58     34     10     76    22
16  2015    KS    12  136    100      2      2    48
17  2015    KY    32   26      4     14      0     0
18  2015    LA     8  116     14      2      0     0
19  2015    MA     2   72     56     58    268    38
20  2015    MD    16   34     32      4     52    10
21  2015    ME     0   16     12    110      0    24
22  2015    MI    52  122     90    112      4    44
23  2015    MN    24   72    150     54      4   250
24  2015    MO    40   86    102     12      8    12
25  2015    MS     6   58      8      0      0     0
26  2015    MT    10   10      2     46      0    24
27  2015    NC    26   36     96     82    528     0
28  2015    ND    20    6     20      2      0    52
29  2015    NE    20   68     72     22      0    30
30  2015    NH     4    6     18     68      0     6
31  2015    NJ     8   98     16      4    250     4
32  2015    NM     6   46      8     10     82    30
33  2015    NV     6   36      2     12     38     2
34  2015    NY    12  180     84    320     50    44
35  2015    OH    34   76    114     10     28    20
36  2015    OK    14   60     26     20      2    72
37  2015    OR     2   24      0    130     16    68
38  2015    PA    50   80     76     34     40    48
39  2015    RI     0   16      4      4     12     6
40  2015    SC    16   40     32     64      2     0
41  2015    SD     2   16     26      8      0    22
42  2015    TN    14   24      8     56     10     4
43  2015    TX    42  320     24     46     30   260
44  2015    UT    12   46      6     58     30     6
45  2015    VA    26   50     76     50      0     0
46  2015    VT     0    0     18     92     32     8
47  2015    WA     2   38      8    148      2    42
48  2015    WI    30   90     64    130      2    24
49  2015    WV    24    6      2     22      0    10
50  2015    WY    24   20      6     32      0    40

In [19]:
total_e = pd.read_csv('arranged_esource')
total_e = total_e.drop(['Unnamed: 0', 'Nuclear', 'Other Biomass', 'Other Gases', 'Pumped Storage', 'Total', 'Wood and Wood Derived Fuels', 'Geothermal', 'Other'],axis = 1)
total_e = total_e.rename(columns = {'Petroleum':'Petro','Natural Gas':'NG','Hydroelectric Conventional':'Hydro','Solar Thermal and Photovoltaic':'Solar'})
total_e = total_e[['Year', 'State', 'Coal', 'NG', 'Petro', 'Hydro', 'Solar', 'Wind']]
total_e = total_e[total_e['Year'].isin([2015])].reset_index(drop = True)
total_e

    Year State       Coal         NG     Petro      Hydro     Solar      Wind
0   2015    AK    1335099    6179426   1493134    3137858         0    319388
1   2015    AL   82820859  111688913    168416   19723608         0         0
2   2015    AR   43480066   29732572    120888    7138390      1854         0
3   2015    AZ   72334338   67314205     96236   13071444   6913216    904070
4   2015    CA     595748  232279218    169030   27616996  29628768  24459118
5   2015    CO   63081789   23287499     14530    3240322    502742  14950558
6   2015    CT    1200938   34724618    873583     604934     34878         0
7   2015    DC          0      45306       196          0         0         0
8   2015    DE    1197176   13378535    308267          0     97023     10252
9   2015    FL   85808018  311648304   4299030     488588    447866         0
10  2015    GA   74261260  100938531    520743    5967126    258904         0
11  2015    HI    2674824          0  14046299     242340    108794   1225544
12  2015    IA   59622150    4796270    220583    1920290         0  35745264
13  2015    ID     157986    7607176       122   17513244         0   4540372
14  2015    IL  147547412   21727765    112186     248920     98720  21494540
15  2015    IN  156461374   32525974   2676006     762472    312196   9030294
16  2015    KS   49186668    2347804     97004      37926      3612  21997002
17  2015    KY  145240858   11899453   2154426    6806962         0         0
18  2015    LA   30329916  132421664   8486171    1998072         0         0
19  2015    MA    4505328   42014822   1554151    1654368    902732    429332
20  2015    MD   27851209    9110690    464695    3246380    237603    869190
21  2015    ME     183802    5903812   1096526    6721054         0   2591416
22  2015    MI  105768066   40089596   1652983    2998446      2380   9593796
23  2015    MN   49394196   14778876     55878    1698108      5578  19557690
24  2015    MO  130651042    9192827    197684    3190040     33796   2066152
25  2015    MS   12799210   90233886     28258          0         0         0
26  2015    MT   32026411    1198412    992852   19775458         0   3929452
27  2015    NC   79844335   73089192    869175    9484008   2747158         0
28  2015    ND   55468826    1422088     52917    4188336         0  13011408
29  2015    NE   48370842     861461     12230    3369960         0   6360926
30  2015    NH    1873324   12103390    351128    2540444         0    846992
31  2015    NJ    3518192   73948913    749872      19082   1255780     43078
32  2015    NM   40879064   18729248    125916     198946   1229754   4180042
33  2015    NV    5314578   57999027     31964    4528272   3314810    619448
34  2015    NY    4760131  113846830   3784585   52029040    201052   7953960
35  2015    OH  143419059   56067431   2634054     913338    112144   2406016
36  2015    OK   49734064   68572653     21624    5327802      3112  28061794
37  2015    OR    4754718   32474184     12130   62507702     48416  13263110
38  2015    PA  129274466  118909310   1458975    5207408    127788   6705344
39  2015    RI          0   13171886    228546       6296     28702     20134
40  2015    SC   45262346   33098613    386390    5128720      8440         0
41  2015    SD    2990158    1545506     34406    9700970         0   4995026
42  2015    TN   61172663   18647460    270267   19162480    152294     91682
43  2015    TX  243108567  475462854    483128    1912820    801518  89666730
44  2015    UT   63312978   16435331     39465    1537546     63718   1251834
45  2015    VA   34462851   66568431   2215670    2316856         0         0
46  2015    VT          0       2987      6112    2278996     96044    650730
47  2015    WA   10103830   26091855     43342  146809832      1580  14150770
48  2015    WI   74361094   26797551    415500    4681362      2834   3178762
49  2015    WV  136112185    2607261    280428    2770086         0   2752464
50  2015    WY   86182378    1444609     89797    1736522         0   7513416

In [16]:
average_plant_capacity = pd.DataFrame()
average_plant_capacity[final_plants.columns[0:2]] = final_plants.iloc[:,0:2]
average_plant_capacity[final_plants.columns[2:]] = total_e.iloc[:,2:].div(final_plants.iloc[:,2:],axis = 0).fillna(0).astype(int)
average_plant_capacity = average_plant_capacity.replace(-9223372036854775808, 0)
average_plant_capacity = average_plant_capacity[average_plant_capacity['State'] != 'DC']
average_plant_capacity

    Year State     Coal       NG   Petro    Hydro  Solar    Wind
0   2015    AK   133509   205980    7776    52297      0   26615
1   2015    AL  5915775  2068313   21052   410908      0       0
2   2015    AR  4348006   825904   20148   187852    927       0
3   2015    AZ  6027861  1085712   12029   653572  58586   90407
4   2015    CA   148937   400481    5634    55013  39930  106343
5   2015    CO  2426222   375604     558    38575   8667  311469
6   2015    CT   600469   510656   15599    21604   5813       0
8   2015    DE   598588   668926   30826        0   6930    5126
9   2015    FL  3300308  2194706  102357   122147  17225       0
10  2015    GA  5304375  1484390   10014    99452   7191       0
11  2015    HI  1337412        0  369639    15146   6044   87538
12  2015    IA  1490553    66614    1060   320048      0  244830
13  2015    ID    39496   422620      61   118332      0   70943
14  2015    IL  3207552   139280    1476    13828   9872  346686
15  2015    IN  3401334   560792   78706    76247   4107  410467
16  2015    KS  4098889    17263     970    18963   1806  458270
17  2015    KY  4538776   457671  538606   486211      0       0
18  2015    LA  3791239  1141566  606155   999036      0       0
19  2015    MA  2252664   583539   27752    28523   3368   11298
20  2015    MD  1740700   267961   14521   811595   4569   86919
21  2015    ME        0   368988   91377    61100      0  107975
22  2015    MI  2034001   328603   18366    26771    595  218040
23  2015    MN  2058091   205262     372    31446   1394   78230
24  2015    MO  3266276   106893    1938   265836   4224  172179
25  2015    MS  2133201  1555756    3532        0      0       0
26  2015    MT  3202641   119841  496426   429901      0  163727
27  2015    NC  3070935  2030255    9053   115658   5202       0
28  2015    ND  2773441   237014    2645  2094168      0  250219
29  2015    NE  2418542    12668     169   153180      0  212030
30  2015    NH   468331  2017231   19507    37359      0  141165
31  2015    NJ   439774   754580   46867     4770   5023   10769
32  2015    NM  6813177   407157   15739    19894  14997  139334
33  2015    NV   885763  1611084   15982   377356  87231  309724
34  2015    NY   396677   632482   45054   162590   4021  180771
35  2015    OH  4218207   737729   23105    91333   4005  120300
36  2015    OK  3552433  1142877     831   266390   1556  389747
37  2015    OR  2377359  1353091       0   480828   3026  195045
38  2015    PA  2585489  1486366   19197   153159   3194  139694
39  2015    RI        0   823242   57136     1574   2391    3355
40  2015    SC  2828896   827465   12074    80136   4220       0
41  2015    SD  1495079    96594    1323  1212621      0  227046
42  2015    TN  4369475   776977   33783   342187  15229   22920
43  2015    TX  5788299  1485821   20130    41583  26717  344872
44  2015    UT  5276081   357289    6577    26509   2123  208639
45  2015    VA  1325494  1331368   29153    46337      0       0
46  2015    VT        0        0     339    24771   3001   81341
47  2015    WA  5051915   686627    5417   991958    790  336923
48  2015    WI  2478703   297750    6492    36010   1417  132448
49  2015    WV  5671341   434543  140214   125913      0  275246
50  2015    WY  3590932    72230   14966    54266      0  187835

In [20]:
final_plants.to_csv('final_plants.csv')
average_plant_capacity.to_csv('average_plant_capacity.csv')