In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import itertools as it
import sklearn
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
%matplotlib inline

In [3]:
#resource_type = pd.DataFrame()
#cost = pd.DataFrame()
#tax = pd.DataFrame()
#sale = pd.DataFrame()
#amount_saved = pd.DataFrame()
#table_list = [resource_type,cost,tax,sale,amount_saved]
#result = pd.concat(table_list, axis =1)
#result.columns = ['Resource_type','Cost','Tax','Sale','Amount_saved']
data = pd.DataFrame(index=range(0,4),columns=['Resource_type','Year','Cost','Tax','Sale','Amount_saved'])
data

  Resource_type Year Cost  Tax Sale Amount_saved
0           NaN  NaN  NaN  NaN  NaN          NaN
1           NaN  NaN  NaN  NaN  NaN          NaN
2           NaN  NaN  NaN  NaN  NaN          NaN
3           NaN  NaN  NaN  NaN  NaN          NaN

In [ ]:
# Define the parameters x and y
input_X = data.iloc[:,1]
#input_x = list(np.arange(1996,2015))
output_y = data.iloc[:, -1]

# calculate cumulative revenue 
for i in len(input_x):
    revenue = []
    y = output_y.iloc[:(i+1)].sum()
    revenue.append(y)
print (revenue)

# Create logistic regression object
logistic = linear_model.LogisticRegression()

# Train the model using the default set
logistic.fit(input_x.reshape(-1,1), y)
print('B0, B1: ',logistic.intercept_, logistic.coef_[0])

# make a plot for logistic regression
plt.figure(figsize=(4,4))
plt.scatter(input_x,y,color='goldenrod',lw='1',label='actual')
plt.plot(x_arange,logistic.predict_proba(x_arange.reshape(-1,1))[:,1],ls='-',label='fit')
plt.legend(loc='upper left')
plt.xlabel('Year')
plt.ylabel('Total Amount Saved')
plt.title('Logistic Regression')
plt.show()

In [2]:
data = pd.read_csv('solar_data.csv')
data = data[data.state != 'DC']
conventional = data.drop(['Unnamed: 0'],axis = 1)
#conventional.replace('--',np.nan,inplace=True)
#conventional.replace('NM',np.nan,inplace=True)
conventional

        year state  zipcode  cost_per_watt
0       1997    AR    72701           5.74
1       1997    AR    72034           9.77
2       1997    AR    72653           6.80
3       1997    AR    72753           2.14
4       1997    AR    72908           5.66
5       1997    CA    93534           4.67
6       1997    CA    94301           4.20
7       1997    CA    93012           7.68
8       1997    CA    95033           5.81
9       1997    CA    95054           5.60
10      1997    CO    80401           2.00
11      1997    CO    80401           7.31
12      1997    CO    81652           4.80
13      1997    CO    80401           2.12
14      1997    CO    80401           2.45
15      1997    FL    32750           4.06
16      1997    GA    31405           3.10
17      1997    IL    60123          12.00
18      1997    IL    61109           8.05
19      1997    IL    62441           5.00
20      1997    IN    46075           3.49
21      1997    MD    21776           6.56
22      1997    MI    49601           4.20
23      1997    MI    49686           2.50
24      1997    MN    56601           2.43
25      1997    MN    55408           9.00
26      1997    MO    63037           5.64
27      1997    MS    38652           3.40
28      1997    NC    27101           5.85
29      1997    NH     3825          13.33
...      ...   ...      ...            ...
421707  2016    TX    75248           3.78
421708  2016    TX    75207           3.13
421709  2016    TX    75075           3.24
421710  2016    TX    75034           2.98
421711  2016    TX    75010           2.87
421712  2016    TX    75032           2.56
421713  2016    TX    75230           2.30
421714  2016    TX    75243           4.08
421715  2016    TX    75025           2.86
421716  2016    TX    76065           2.43
421717  2016    TX    75024           3.52
421718  2016    TX    75077           5.13
421719  2016    TX    76036           2.57
421720  2016    TX    75022           2.97
421721  2016    TX    75220           2.56
421722  2016    TX    75220           2.56
421723  2016    TX    75075           2.38
421724  2016    TX    75023           2.62
421725  2016    TX    76266           3.05
421726  2016    TX    75069           3.10
421727  2016    TX    75069           3.34
421728  2016    TX    75225           3.50
421729  2016    TX    75023           3.56
421730  2016    TX    75082           2.41
421731  2016    TX    76180           3.65
421732  2016    TX    75025           2.70
421733  2016    TX    75034           4.92
421734  2016    TX    75204           5.49
421735  2017    CA    91351           4.59
421736  2017    TX    76140           3.04

[419698 rows x 4 columns]

In [3]:
yearlist = []
yearcount = []
for key, group in it.groupby(conventional.year):
    yearlist.append(key)
    yearcount.append(len(list(group)))
print(yearlist,yearcount)

[1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017] [41, 54, 288, 311, 1680, 3051, 4290, 6729, 6668, 11093, 19636, 20835, 34385, 51382, 48130, 65196, 27884, 34138, 83729, 176, 2]

In [4]:
conventional = conventional.sort(['year','state'])
a = conventional['year'].astype(str)
year = np.arange(1997, 2018)
statelist = ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 
             'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 
             'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 
             'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
cost_avg = pd.DataFrame(columns = ['Year', 'States', 'Cost_Per_Watt'])

C:\Users\yongquan\Miniconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [5]:
for i in range(len(year)):
    for j in range(len(statelist)):
        cost_avg.loc[i*len(statelist)+ j] = [str(year[i]), statelist[j], np.mean(conventional[a.str.contains(str(year[i]))][conventional.state == statelist[j]].cost_per_watt)]
cost_avg

C:\Users\yongquan\Miniconda3\lib\site-packages\ipykernel\__main__.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()

      Year States  Cost_Per_Watt
0     1997     AK            NaN
1     1997     AL            NaN
2     1997     AR          6.022
3     1997     AZ            NaN
4     1997     CA          5.592
5     1997     CO          3.736
6     1997     CT            NaN
7     1997     DE            NaN
8     1997     FL          4.060
9     1997     GA          3.100
10    1997     HI            NaN
11    1997     IA            NaN
12    1997     ID            NaN
13    1997     IL          8.350
14    1997     IN          3.490
15    1997     KS            NaN
16    1997     KY            NaN
17    1997     LA            NaN
18    1997     MA            NaN
19    1997     MD          6.560
20    1997     ME            NaN
21    1997     MI          3.350
22    1997     MN          5.715
23    1997     MO          5.640
24    1997     MS          3.400
25    1997     MT            NaN
26    1997     NC          5.850
27    1997     ND            NaN
28    1997     NE            NaN
29    1997     NH         13.330
...    ...    ...            ...
1020  2017     ME            NaN
1021  2017     MI            NaN
1022  2017     MN            NaN
1023  2017     MO            NaN
1024  2017     MS            NaN
1025  2017     MT            NaN
1026  2017     NC            NaN
1027  2017     ND            NaN
1028  2017     NE            NaN
1029  2017     NH            NaN
1030  2017     NJ            NaN
1031  2017     NM            NaN
1032  2017     NV            NaN
1033  2017     NY            NaN
1034  2017     OH            NaN
1035  2017     OK            NaN
1036  2017     OR            NaN
1037  2017     PA            NaN
1038  2017     RI            NaN
1039  2017     SC            NaN
1040  2017     SD            NaN
1041  2017     TN            NaN
1042  2017     TX          3.040
1043  2017     UT            NaN
1044  2017     VA            NaN
1045  2017     VT            NaN
1046  2017     WA            NaN
1047  2017     WI            NaN
1048  2017     WV            NaN
1049  2017     WY            NaN

[1050 rows x 3 columns]

In [6]:
cost_avg.dropna(inplace=True)
cost_avg

      Year States  Cost_Per_Watt
2     1997     AR       6.022000
4     1997     CA       5.592000
5     1997     CO       3.736000
8     1997     FL       4.060000
9     1997     GA       3.100000
13    1997     IL       8.350000
14    1997     IN       3.490000
19    1997     MD       6.560000
21    1997     MI       3.350000
22    1997     MN       5.715000
23    1997     MO       5.640000
24    1997     MS       3.400000
26    1997     NC       5.850000
29    1997     NH      13.330000
31    1997     NM      11.115000
33    1997     NY       6.540000
34    1997     OH       5.920000
37    1997     PA       5.250000
42    1997     TX       3.285000
46    1997     WA      18.750000
48    1997     WV       6.750000
54    1998     CA      10.250551
76    1998     NC       8.670000
83    1998     NY       7.670000
97    1998     WI       8.200000
103   1999     AZ       4.672361
104   1999     CA       9.541692
105   1999     CO      15.630000
108   1999     FL       9.073333
113   1999     IL      13.995903
...    ...    ...            ...
921   2015     MI       3.988000
922   2015     MN       4.765435
924   2015     MS       3.520000
929   2015     NH       3.909525
931   2015     NM       5.191047
932   2015     NV       4.041077
933   2015     NY       4.564056
934   2015     OH       3.393000
935   2015     OK       2.590000
937   2015     PA       3.466154
938   2015     RI       3.983747
942   2015     TX       3.504174
944   2015     VA       1.855000
946   2015     WA       4.660000
947   2015     WI       3.654331
954   2016     CA       4.263333
955   2016     CO       4.240000
957   2016     DE       2.992500
958   2016     FL       2.210000
963   2016     IL       3.250000
964   2016     IN       3.031000
968   2016     MA       3.863333
969   2016     MD       3.731935
980   2016     NJ       4.186667
983   2016     NY       4.003077
984   2016     OH       3.749091
987   2016     PA       3.534000
992   2016     TX       3.052500
1004  2017     CA       4.590000
1042  2017     TX       3.040000

[537 rows x 3 columns]

In [7]:
cost_avg.to_csv('solar_cost.csv')