In [94]:
import pandas as pd
import numpy as np
import math
import os
import glob

In [93]:
#station data
weather_station = pd.read_csv("../Original_Data/Final_weather_data/Station list/station_list.txt",delimiter='|')
weather_table = weather_station[['WBAN','Name','Latitude','Longitude']]
weather_table.columns = ['WBAN','Location','Latitude','Longitude']
weather_table

       WBAN         Location  Latitude  Longitude
0      3011        TELLURIDE    37.954   -107.901
1      3012             TAOS    36.458   -105.667
2      3013            LAMAR    38.070   -102.688
3      3014          TORREON    35.789   -107.248
4      3016            RIFLE    39.526   -107.726
5      3017           DENVER    39.833   -104.658
6      3024           BORGER    35.700   -101.394
7      3026       BURLINGTON    39.245   -102.284
8      3027   CLINES CORNERS    35.003   -105.663
9      3028      SPRINGFIELD    37.283   -102.614
10     3029      WINDOW ROCK    35.658   -109.061
11     3030           GUYMON    36.682   -101.505
12     3031           ODESSA    31.921   -102.387
13     3032           DRYDEN    30.048   -102.213
14     3033         MORIARTY    34.985   -106.000
15     3034      ALBUQUERQUE    35.145   -106.784
16     3035          ARTESIA    32.853   -104.467
17     3036         BLANDING    37.583   -109.583
18     3037            COLBY    39.428   -101.034
19     3038  COPPER MOUNTAIN    39.467   -106.150
20     3039  WOLF CREEK PASS    37.450   -106.800
21     3040    MONUMENT HILL    39.217   -104.633
22     3041     MONARCH PASS    38.483   -106.317
23     3042     LA VETA PASS    37.500   -105.167
24     3043           ATWOOD    39.840   -101.042
25     3044       BIG SPRING    32.213   -101.521
26     3045         PERRYTON    36.414   -100.750
27     3047   MONAHANS 6 ENE    31.622   -102.807
28     3048      SCORRO 20 N    34.356   -106.886
29     3049           ALPINE    30.384   -103.684
...     ...              ...       ...        ...
2249  94964              ELY    47.822    -91.818
2250  94966     FERGUS FALLS    46.289    -96.151
2251  94967      PARK RAPIDS    46.901    -95.068
2252  94968       ALBERT LEA    43.681    -93.367
2253  94969        FARIBAULT    44.325    -93.301
2254  94971      ESTHERVILLE    43.408    -94.746
2255  94973          HAYWARD    46.026    -91.444
2256  94974      MINNEAPOLIS    45.145    -93.201
2257  94975        AINSWORTH    42.579    -99.984
2258  94976         MARSHALL    44.450    -95.817
2259  94977       CRANE LAKE    48.266    -92.483
2260  94978          TEKAMAH    41.764    -96.178
2261  94979          CLINTON    41.831    -90.318
2262  94982        DAVENPORT    41.614    -90.591
2263  94985       MARSHFIELD    44.637    -90.189
2264  94986        MENOMINEE    45.126    -87.634
2265  94988     MARSHALLTOWN    42.113    -92.918
2266  94989             AMES    41.992    -93.622
2267  94990           WINNER    43.390    -99.842
2268  94991           LAMONI    40.633    -93.902
2269  94992     GRAND MARAIS    47.747    -90.344
2270  94993         SISSETON    45.669    -96.991
2271  94994         BOSCOBEL    43.156    -90.678
2272  94995    LINCOLN 8 ENE    40.848    -96.565
2273  94996    LINCOLN 11 SW    40.695    -96.854
2274  94997           WADENA    46.447    -95.201
2275  94998          AUDUBON    41.701    -94.917
2276  94999           AITKIN    46.548    -93.668
2277  96401         CHULITNA    62.830   -149.913
2278  96402           SUTTON    61.731   -148.928

[2279 rows x 4 columns]

In [104]:
#try out dataset from 199607
dailyavg9607 = pd.read_csv("../Original_Data/Final_weather_data/200706dailyavg.txt",delimiter=',')
readindata = dailyavg9607.rename(columns = {'Wban Number':'WBAN'}).iloc[:,[0,6,26,-3]]
WBAN_copy = readindata['WBAN']
weather_date = pd.DataFrame(dailyavg9607.iloc[:,1]/float(100))
temp_list = []
for i in weather_date.iloc[:,0]:
    temp_list.append(math.floor(i))
    
afprocessedwd = pd.DataFrame(temp_list)
result_data = pd.concat([readindata, afprocessedwd], axis=1)
result_data.columns = ['WBAN_date','AvgTemp','TotalMonthlyPrecip','Avgwindspeed','YYMM']
result_data['WBAN_date'] = result_data['WBAN_date'].astype(str) + '_' + (result_data['YYMM'].astype(str))
result_data['WBAN'] = WBAN_copy
result_data = result_data[['WBAN_date','YYMM','WBAN','AvgTemp','TotalMonthlyPrecip','Avgwindspeed']]
result_data

         WBAN_date    YYMM   WBAN AvgTemp TotalMonthlyPrecip Avgwindspeed
0      3011_200706  200706   3011
1      3012_200706  200706   3012
2      3013_200706  200706   3013    72.2               2.73          9.8
3      3014_200706  200706   3014
4      3016_200706  200706   3016    69.5               0.01          6.5
5      3017_200706  200706   3017    68.8               0.52         10.2
6      3024_200706  200706   3024    74.1               2.88          9.1
7      3026_200706  200706   3026    70.5               0.50         11.7
8      3027_200706  200706   3027    65.8               0.14         11.0
9      3028_200706  200706   3028    69.5               1.28         11.6
10     3029_200706  200706   3029    64.7               0.05          6.5
11     3030_200706  200706   3030    72.2               2.18          9.8
12     3031_200706  200706   3031    78.0               2.35         10.5
13     3032_200706  200706   3032    79.3               0.29          8.5
14     3033_200706  200706   3033
15     3034_200706  200706   3034
16     3035_200706  200706   3035
17     3036_200706  200706   3036
18     3037_200706  200706   3037
19     3038_200706  200706   3038
20     3039_200706  200706   3039
21     3040_200706  200706   3040
22     3041_200706  200706   3041
23     3042_200706  200706   3042
24     3043_200706  200706   3043
25     3044_200706  200706   3044
26     3045_200706  200706   3045
27     3049_200706  200706   3049
28     3050_200706  200706   3050
29     3051_200706  200706   3051
...            ...     ...    ...     ...                ...          ...
1751  94962_200706  200706  94962
1752  94963_200706  200706  94963    71.9               0.83          8.5
1753  94964_200706  200706  94964
1754  94966_200706  200706  94966
1755  94967_200706  200706  94967    67.6               2.32          9.5
1756  94968_200706  200706  94968
1757  94969_200706  200706  94969
1758  94971_200706  200706  94971    71.7               1.48         10.5
1759  94973_200706  200706  94973    67.6               2.74          4.9
1760  94974_200706  200706  94974
1761  94975_200706  200706  94975
1762  94976_200706  200706  94976
1763  94977_200706  200706  94977
1764  94978_200706  200706  94978    72.0               1.02          9.9
1765  94979_200706  200706  94979
1766  94982_200706  200706  94982    65.7               0.01          8.0
1767  94985_200706  200706  94985    66.3               1.82          7.3
1768  94986_200706  200706  94986
1769  94988_200706  200706  94988    70.2               2.95          9.1
1770  94989_200706  200706  94989    71.4               2.64          8.4
1771  94990_200706  200706  94990    70.4               2.99         12.2
1772  94991_200706  200706  94991    70.7               2.80          7.6
1773  94992_200706  200706  94992    52.6               5.22          4.6
1774  94993_200706  200706  94993    69.0               4.91         10.6
1775  94994_200706  200706  94994    68.9               4.40          3.8
1776  94997_200706  200706  94997
1777  94998_200706  200706  94998
1778  94999_200706  200706  94999
1779  96401_200706  200706  96401
1780  96402_200706  200706  96402

[1781 rows x 6 columns]

In [54]:
#merge dataset
#Final_weather_table = pd.merge(left=weather_table,right=result_data, how='left', left_on='WBAN', right_on='WBAN')
#Final_weather_table

In [107]:
for filename in os.listdir("../Original_Data/Final_weather_data"):
    if filename.endswith('.txt'):
        read_in = pd.read_csv("../Original_Data/Final_weather_data/%s"%filename)
        readindata = read_in.rename(columns = {'Wban Number':'WBAN'}).iloc[:,[0,6,26,-3]]
        WBAN_copy = readindata['WBAN']
        weather_date = pd.DataFrame(read_in.iloc[:,1]/float(100))
        temp_list = []
        for i in weather_date.iloc[:,0]:
            temp_list.append(math.floor(i))
    
        afprocessedwd = pd.DataFrame(temp_list)
        result_data = pd.concat([readindata, afprocessedwd], axis=1)
        result_data.columns = ['WBAN_date','AvgTemp','TotalMonthlyPrecip','Avgwindspeed','YYMM']
        result_data['WBAN_date'] = result_data['WBAN_date'].astype(str) + '_' + (result_data['YYMM'].astype(str))
        result_data['WBAN'] = WBAN_copy
        result_data = result_data[['WBAN_date','YYMM','WBAN','AvgTemp','TotalMonthlyPrecip','Avgwindspeed']]

In [111]:
path =r'../Original_Data/Final_weather_data'
allFiles = glob.glob(path + "/*.txt")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    read_in = pd.read_csv(file_,index_col=None, header=0)
    readindata = read_in.rename(columns = {'Wban Number':'WBAN'}).iloc[:,[0,6,26,-3]]
    weather_date = pd.DataFrame(read_in.iloc[:,1]/float(100))
    temp_list = []
    for i in weather_date.iloc[:,0]:
        temp_list.append(math.floor(i))
    
    afprocessedwd = pd.DataFrame(temp_list)
    result_data = pd.concat([readindata, afprocessedwd], axis=1)
    result_data.columns = ['WBAN_date','AvgTemp','TotalMonthlyPrecip','Avgwindspeed','YYMM']
    result_data['WBAN_date'] = result_data['WBAN_date'].astype(str) + '_' + (result_data['YYMM'].astype(str))
    result_data['WBAN'] = WBAN_copy
    result_data = result_data[['WBAN_date','YYMM','WBAN','AvgTemp','TotalMonthlyPrecip','Avgwindspeed']]
    list_.append(result_data)
frame = pd.concat(list_)
frame

         WBAN_date    YYMM     WBAN AvgTemp TotalMonthlyPrecip Avgwindspeed
0      3013_199607  199607   3011.0    74.8               1.58          8.5
1      3017_199607  199607   3012.0    73.4               1.01          9.7
2      3103_199607  199607   3013.0    68.4               1.79          5.2
3      3145_199607  199607   3014.0    96.4               0.12          9.8
4      3160_199607  199607   3016.0    88.4                T            9.7
5      3195_199607  199607   3017.0    68.5               1.09
6      3812_199607  199607   3024.0    72.0               4.83          4.4
7      3813_199607  199607   3026.0    81.3               2.83          5.9
8      3816_199607  199607   3027.0    75.9               6.11          4.9
9      3820_199607  199607   3028.0    80.5               6.39          6.1
10     3822_199607  199607   3029.0    82.4               2.30          5.8
11     3853_199607  199607   3030.0    82.8               3.04
12     3855_199607  199607   3031.0    81.7               1.27          6.7
13     3856_199607  199607   3032.0    78.2               4.70          5.6
14     3866_199607  199607   3033.0    81.1               2.07          3.4
15     3870_199607  199607   3034.0    78.5               4.43          5.4
16     3872_199607  199607   3035.0    68.0               7.59          5.5
17     3889_199607  199607   3036.0    72.7               4.52          4.2
18     3919_199607  199607   3037.0    79.9               1.20          9.6
19     3927_199607  199607   3038.0    86.2               0.28          9.3
20     3928_199607  199607   3039.0    79.1               3.97          9.4
21     3936_199607  199607   3040.0    76.5               4.38          6.6
22     3937_199607  199607   3041.0    83.1               5.49          4.6
23     3940_199607  199607   3042.0    81.3               6.99          4.0
24     3945_199607  199607   3043.0    74.6               3.32          8.0
25     3947_199607  199607   3044.0    75.2               4.84          8.1
26     3967_199607  199607   3045.0    75.3               0.00          7.3
27     3974_199607  199607   3049.0    78.5                M
28     3991_199607  199607   3050.0    86.4               0.75          8.5
29     3994_199607  199607   3051.0    74.4               2.07          7.2
...            ...     ...      ...     ...                ...          ...
1751  94962_200706  200706  94962.0
1752  94963_200706  200706  94963.0    71.9               0.83          8.5
1753  94964_200706  200706  94964.0
1754  94966_200706  200706  94966.0
1755  94967_200706  200706  94967.0    67.6               2.32          9.5
1756  94968_200706  200706  94968.0
1757  94969_200706  200706  94969.0
1758  94971_200706  200706  94971.0    71.7               1.48         10.5
1759  94973_200706  200706  94973.0    67.6               2.74          4.9
1760  94974_200706  200706  94974.0
1761  94975_200706  200706  94975.0
1762  94976_200706  200706  94976.0
1763  94977_200706  200706  94977.0
1764  94978_200706  200706  94978.0    72.0               1.02          9.9
1765  94979_200706  200706  94979.0
1766  94982_200706  200706  94982.0    65.7               0.01          8.0
1767  94985_200706  200706  94985.0    66.3               1.82          7.3
1768  94986_200706  200706  94986.0
1769  94988_200706  200706  94988.0    70.2               2.95          9.1
1770  94989_200706  200706  94989.0    71.4               2.64          8.4
1771  94990_200706  200706  94990.0    70.4               2.99         12.2
1772  94991_200706  200706  94991.0    70.7               2.80          7.6
1773  94992_200706  200706  94992.0    52.6               5.22          4.6
1774  94993_200706  200706  94993.0    69.0               4.91         10.6
1775  94994_200706  200706  94994.0    68.9               4.40          3.8
1776  94997_200706  200706  94997.0
1777  94998_200706  200706  94998.0
1778  94999_200706  200706  94999.0
1779  96401_200706  200706  96401.0
1780  96402_200706  200706  96402.0

[136042 rows x 6 columns]

In [ ]:
for filename in os.listdir("../Original_Data/Final_weather_data"):
    if filename.endswith('.txt'):
        read_in = pd.read_csv("../Original_Data/Final_weather_data/%s"%filename)
        readindata = read_in.rename(columns = {'Wban Number':'WBAN'}).iloc[:,[0,6,26,-3]]
        WBAN_copy = readindata['WBAN']
        weather_date = pd.DataFrame(read_in.iloc[:,1]/float(100))
        temp_list = []
        for i in weather_date.iloc[:,0]:
            temp_list.append(math.floor(i))
    
        afprocessedwd = pd.DataFrame(temp_list)
        result_data = pd.concat([readindata, afprocessedwd], axis=1)
        result_data.columns = ['WBAN_date','AvgTemp','TotalMonthlyPrecip','Avgwindspeed','YYMM']
        result_data['WBAN_date'] = result_data['WBAN_date'].astype(str) + '_' + (result_data['YYMM'].astype(str))
        result_data['WBAN'] = WBAN_copy
        result_data = result_data[['WBAN_date','YYMM','WBAN','AvgTemp','TotalMonthlyPrecip','Avgwindspeed']]