In [60]:
import pandas as pd
import numpy as np
import difflib

In [118]:
#station data
weather_station = pd.read_csv("../Original_Data/Final_weather_data/station_list.txt",delimiter='|')
weather_table = weather_station[['WBAN','Name','Latitude','Longitude']]
weather_table.columns = ['WBAN','Location','Latitude','Longitude']
weather_table.head()

   WBAN   Location  Latitude  Longitude
0  3011  TELLURIDE    37.954   -107.901
1  3012       TAOS    36.458   -105.667
2  3013      LAMAR    38.070   -102.688
3  3014    TORREON    35.789   -107.248
4  3016      RIFLE    39.526   -107.726

In [120]:
#try out dataset from 199607
dailyavg9607 = pd.read_csv("../Original_Data/Final_weather_data/199607dailyavg.txt",delimiter=',')
weather_199607 = dailyavg9607.rename(columns = {'Wban Number':'WBAN'})
weather_199607_mod = weather_199607.iloc[:,[0,6,26,-3]].head()
weather_199607_mod

   WBAN  Avg Temp  Total Monthly Precip  Avg Wind Speed
0  3013      74.8                  1.58             8.5
1  3017      73.4                  1.01             9.7
2  3103      68.4                  1.79             5.2
3  3145      96.4                  0.12             9.8
4  3160      88.4                   T               9.7

In [121]:
#merge dataset
Final_weather_table = pd.merge(left=weather_table,right=weather_199607_mod, how='left', left_on='WBAN', right_on='WBAN')
Final_weather_table.insert(0, 'YYMM', '199607')
Final_weather_table.head()

,YYMM,WBAN,Location,Latitude,Longitude,Avg Temp,Total Monthly Precip,Avg Wind Speed
0,199607,3011,TELLURIDE,37.954,-107.901,NaN,NaN,NaN
1,199607,3012,TAOS,36.458,-105.667,NaN,NaN,NaN
2,199607,3013,LAMAR,38.070,-102.688,74.8,1.58,8.5
3,199607,3014,TORREON,35.789,-107.248,NaN,NaN,NaN
4,199607,3016,RIFLE,39.526,-107.726,NaN,NaN,NaN