In [1]:
import numpy as np
import pandas as pd

In [2]:
# creat a list includes all states abbreviation
statelist = ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 
             'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 
             'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 
             'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [3]:
# read the cost files for wind, solar, and conventional
wind = pd.read_csv('wind_cost_2000to2016.csv')
solar = pd.read_csv('solar_cost_1997to2016.csv')
conventional = pd.read_csv('conventional_cost_2008to2016.csv')

In [4]:
# choose the specific year 2015 from dataframe, then drop the unnamed columns and reset index
wind_15 = wind[wind['Year'].isin([2015])].drop(['Unnamed: 0', 'Year'], axis = 1).reset_index(drop = True)
solar_15 = solar[solar['Year'].isin([2015])].drop(['Unnamed: 0', 'Year'], axis = 1).reset_index(drop = True).rename(columns = {'Cost($/MWh)':'solar', 'States':'State'}) 
conventional_15 = conventional[conventional['Year'].isin([2015])].drop(['Unnamed: 0', 'Year'], axis = 1).reset_index(drop = True).rename(columns = {'States':'State'})

In [6]:
# creat a new cost dataframe includes average cost for all types of resources by states in 2015
df_cost = pd.DataFrame()
df_cost['State'] = statelist
df_cost.insert(0, 'Year', 2015)
df_cost = pd.merge(df_cost, wind_15, on = 'State', how = 'left')
df_cost = pd.merge(df_cost, solar_15, on = 'State', how = 'left')
df_cost = pd.merge(df_cost, conventional_15, on = 'State', how = 'left').fillna(0)
df_cost.insert(4, 'Hydro', 8.5)
df_cost.rename(columns = {'WindCost':'Wind', 'solar':'Solar'})

    Year State   Wind       Solar  Hydro        Coal          NG       Petro
0   2015    AK  37.66    0.000000    8.5   75.083231  212.636505  112.827567
1   2015    AL  37.66   96.461187    8.5   96.833532  119.576998  150.870124
2   2015    AR  37.66    0.000000    8.5   89.881381  133.679933  128.089220
3   2015    AZ  37.66  114.431433    8.5   82.002277  139.440287  160.717917
4   2015    CA  37.66  129.330309    8.5   86.934993  144.737164    0.000000
5   2015    CO  37.35    0.000000    8.5   72.467898  140.830717   49.694969
6   2015    CT  37.66  124.413730    8.5  142.783940    0.000000    0.000000
7   2015    DE  37.66  122.590898    8.5  117.855513    0.000000    0.000000
8   2015    FL  37.66  117.373694    8.5  122.457175  172.645084  157.972177
9   2015    GA  37.66   91.894977    8.5  116.266450  126.529149  175.766120
10  2015    HI  37.66    0.000000    8.5   75.083231  212.636505  129.389323
11  2015    IA  37.35   85.426179    8.5   64.423266  131.892237  146.669046
12  2015    ID  37.66    0.000000    8.5   76.407450  148.676716    0.000000
13  2015    IL  38.30  120.816827    8.5   81.737433  161.852697  152.655340
14  2015    IN  38.30   94.212329    8.5   91.834605  116.465083  157.613194
15  2015    KS  37.35    0.000000    8.5   67.733814  159.733947  132.222383
16  2015    KY  37.66  100.171233    8.5   88.193002  146.723492  154.673410
17  2015    LA  37.66    0.000000    8.5  125.204930  115.405707  100.185524
18  2015    MA  37.66  138.995990    8.5  142.783940  233.062587  105.628491
19  2015    MD  37.66  117.932408    8.5  114.213910  112.790374   98.963040
20  2015    ME  37.66  110.730593    8.5  142.783940  238.789835   98.439118
21  2015    MI  38.30  113.812785    8.5   95.707946  124.244871  148.541582
22  2015    MN  37.35  135.999849    8.5   75.149442  150.663045  152.645637
23  2015    MO  37.35    0.000000    8.5   75.248759  130.766651  149.909600
24  2015    MS  37.66  100.456621    8.5  120.206002  112.856585  104.784395
25  2015    MT  37.35    0.000000    8.5   68.760084   89.053744    0.000000
26  2015    NC  37.66    0.000000    8.5  138.149173  186.847336  148.968481
27  2015    ND  37.35    0.000000    8.5   62.138988  369.821330  147.289991
28  2015    NE  37.35    0.000000    8.5   53.531563  146.690387   43.495226
29  2015    NH  37.66  111.573190    8.5  142.783940  216.344319  145.000257
30  2015    NJ  37.66    0.000000    8.5    0.000000    0.000000    0.000000
31  2015    NM  37.35  148.146305    8.5   93.258140  121.530221  176.561705
32  2015    NV  37.66  115.327550    8.5   82.333332  127.522313  189.358985
33  2015    NY  37.66  130.252730    8.5    0.000000  156.357187  115.854672
34  2015    OH  38.30   96.832192    8.5   84.121028   95.112047  156.497434
35  2015    OK  37.35   73.915525    8.5   78.228252  117.954829   73.252054
36  2015    OR  37.66    0.000000    8.5   86.934993  112.028948   36.315555
37  2015    PA  37.66   98.919916    8.5    0.000000    0.000000   96.178491
38  2015    RI  37.66  113.691399    8.5  142.783940  128.151318   98.439118
39  2015    SC  37.66    0.000000    8.5  141.128666  137.288430  173.854775
40  2015    SD  37.35    0.000000    8.5   69.256667  119.543892   32.492865
41  2015    TN  37.66    0.000000    8.5   94.979625  108.817717  143.477003
42  2015    TX  37.35  100.004970    8.5   84.286555  114.842914  151.762732
43  2015    UT  37.66    0.000000    8.5   76.904033  116.994770  160.834344
44  2015    VA  37.66   52.939498    8.5  114.114594  157.482774  129.049744
45  2015    VT  37.66    0.000000    8.5  142.783940    0.000000    0.000000
46  2015    WA  37.66  132.990867    8.5   86.934993  139.175443   10.953850
47  2015    WI  38.30  104.290282    8.5   90.146225  125.800828  186.428902
48  2015    WV  37.66    0.000000    8.5   94.284410  102.163515  158.922999
49  2015    WY  37.35    0.000000    8.5   64.655005  262.228516  169.042455

In [7]:
# export cost dataframe as csv file
df_cost.to_csv('df_cost.csv', index = False)