In [13]:
import pandas as pd
import numpy as np
import xlrd
import csv
import math
import os
import glob

In [14]:
data_xls = pd.read_excel('alabama.xlsx', 'Sheet1', index_col=None)
data_xls.to_csv('alabama.csv', encoding='utf-8')
data_xls

,Alabama Carbon Dioxide Emissions from Fossil Fuel Consumption (1980-2014),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,million metric tons of CO2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,...,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0
3,Residential Sector,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Coal,0.1,0.0,0.0,0.0,0.1,0.1,0.1,0.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,NaN,Petroleum Products,0.6,0.6,0.7,0.8,0.5,0.5,0.5,0.6,...,0.4,0.4,0.4,0.5,0.5,0.6,0.4,0.3,0.3,0.3
6,NaN,Natural Gas,2.9,2.8,2.6,2.7,2.8,2.4,2.5,2.7,...,2.3,2.1,1.9,2.1,2.0,2.3,2.0,1.5,1.9,2.1
7,NaN,Total,3.6,3.4,3.4,3.5,3.3,2.9,3.0,3.4,...,2.7,2.5,2.4,2.5,2.5,2.9,2.3,1.8,2.2,2.4
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Commercial Sector,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Coal,0.4,0.2,0.2,0.3,0.3,0.2,0.2,0.2,...,0.0,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,NaN,Petroleum Products,0.6,0.8,0.6,0.8,0.6,0.9,0.9,0.8,...,0.5,0.8,0.7,0.6,0.6,0.7,0.7,0.6,0.5,0.4
12,NaN,Natural Gas,1.6,1.5,1.4,1.5,1.5,1.4,1.4,1.2,...,1.4,1.3,1.3,1.4,1.3,1.5,1.4,1.2,1.4,1.5
13,NaN,Total,2.6,2.4,2.3,2.5,2.3,2.5,2.5,2.3,...,1.8,2.2,2.0,2.0,1.9,2.1,2.0,1.8,1.8,1.9
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Industrial Sector,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Coal,17.1,14.7,12.3,10.9,14.1,13.0,12.6,13.9,...,8.5,8.0,7.6,7.6,5.6,6.4,6.0,6.8,7.1,8.1
17,NaN,Petroleum Products,5.3,5.0,5.5,3.8,3.6,2.9,3.1,3.5,...,5.1,4.9,4.7,4.8,3.7,3.7,4.0,4.3,3.2,2.9
18,NaN,Natural Gas,9.3,9.6,8.4,7.3,7.7,7.6,6.7,6.7,...,9.1,9.2,9.2,8.7,8.1,8.7,9.2,10.3,10.7,11.1
19,NaN,Total,31.8,29.3,26.2,22.0,25.5,23.5,22.4,24.1,...,22.7,22.1,21.5,21.1,17.3,18.8,19.2,21.3,21.0,22.2
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Transportation Sector,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,Coal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,NaN,Petroleum Products,23.9,23.2,22.7,22.2,23.1,22.9,23.9,25.3,...,33.9,34.5,34.8,32.1,30.9,31.0,31.0,30.4,30.4,30.6
24,NaN,Natural Gas,0.9,1.0,0.9,0.7,0.7,0.6,0.5,0.6,...,0.8,0.8,0.9,0.9,1.0,1.2,1.3,1.4,1.2,1.0
25,NaN,Total,24.8,24.2,23.5,22.9,23.8,23.5,24.5,26.0,...,34.7,35.3,35.6,33.0,31.9,32.2,32.3,31.8,31.6,31.7
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Electric Power Sector,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,Coal,43.9,43.9,35.2,38.7,40.2,48.8,49.1,47.7,...,75.5,75.6,76.2,72.0,54.0,61.4,55.3,44.8,46.1,46.1
29,NaN,Petroleum Products,0.1,0.0,0.0,0.1,0.0,0.0,0.0,0.0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.0,0.1
30,NaN,Natural Gas,0.1,0.1,0.1,0.0,0.0,0.1,0.1,0.1,...,5.7,7.9,9.6,9.0,12.3,15.2,18.5,21.6,18.0,18.8
31,NaN,Total,44.1,44.1,35.3,38.8,40.3,48.9,49.1,47.8,...,81.3,83.6,85.9,81.0,66.4,76.7,74.0,66.5,64.2,65.1
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,Grand Total,106.9,103.3,90.7,89.7,95.2,101.5,101.5,103.6,...,143.3,145.7,147.4,139.6,120.0,132.7,129.9,123.2,120.9,123.2
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Fuel Totals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Coal,NaN,61.6,58.8,47.8,49.9,54.7,62.1,61.9,61.9,...,84.0,83.7,83.8,79.5,59.5,67.8,61.4,51.6,53.3,54.3
37,Petroleum Products,NaN,30.5,29.6,29.5,27.7,27.8,27.2,28.4,30.3,...,40.0,40.7,40.7,38.0,35.8,36.1,36.2,35.7,34.4,34.4
38,Natural Gas,NaN,14.8,14.9,13.4,12.2,12.7,12.1,11.2,11.4,...,19.3,21.3,22.8,22.0,24.7,28.9,32.3,35.9,33.2,34.6
39,Total,NaN,106.9,103.3,90.7,89.7,95.2,101.5,101.5,103.6,...,143.3,145.7,147.4,139.6,120.0,132.7,129.9,123.2,120.9,123.2

In [15]:
df = data_xls.loc[28:31]
df.T

,28,29,30,31
Alabama Carbon Dioxide Emissions from Fossil Fuel Consumption (1980-2014),NaN,NaN,NaN,NaN
Unnamed: 1,Coal,Petroleum Products,Natural Gas,Total
Unnamed: 2,43.9,0.1,0.1,44.1
Unnamed: 3,43.9,0,0.1,44.1
Unnamed: 4,35.2,0,0.1,35.3
Unnamed: 5,38.7,0.1,0,38.8
Unnamed: 6,40.2,0,0,40.3
Unnamed: 7,48.8,0,0.1,48.9
Unnamed: 8,49.1,0,0.1,49.1
Unnamed: 9,47.7,0,0.1,47.8
Unnamed: 10,45.8,0.1,0.1,46
Unnamed: 11,50.3,0.1,0.2,50.6
Unnamed: 12,50.5,0.1,0.3,50.9
Unnamed: 13,54.5,0.1,0.3,54.8
Unnamed: 14,57.3,0.1,0.3,57.6
Unnamed: 15,63.2,0.1,0.3,63.6
Unnamed: 16,59.2,0.1,0.3,59.6
Unnamed: 17,64.6,0.1,0.5,65.1
Unnamed: 18,69.8,0.1,0.4,70.3
Unnamed: 19,67.9,0.1,0.6,68.6
Unnamed: 20,68.9,0.2,1.5,70.6
Unnamed: 21,70.3,0.1,1.4,71.8
Unnamed: 22,74.2,0.2,2.3,76.7
Unnamed: 23,69.9,0.2,3.8,73.9
Unnamed: 24,71.1,0.2,6.1,77.4
Unnamed: 25,73.3,0.2,4.7,78.2
Unnamed: 26,71.2,0.1,6.4,77.6
Unnamed: 27,75.5,0.1,5.7,81.3
Unnamed: 28,75.6,0.1,7.9,83.6
Unnamed: 29,76.2,0.1,9.6,85.9
Unnamed: 30,72,0.1,9,81
Unnamed: 31,54,0.1,12.3,66.4
Unnamed: 32,61.4,0.1,15.2,76.7
Unnamed: 33,55.3,0.1,18.5,74
Unnamed: 34,44.8,0.1,21.6,66.5
Unnamed: 35,46.1,0,18,64.2
Unnamed: 36,46.1,0.1,18.8,65.1

In [16]:
year = list(data_xls.loc[2])
year

[nan,
 nan,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0]

In [17]:
excel_files = glob.glob('*xlsx*')
for excel in excel_files:
    out = excel.split('.')[0]+'.csv'
    df = pd.read_excel(excel, 'Sheet1')
    df.to_csv(out)

In [47]:
df = pd.read_csv('alaska.csv')
data = df.loc[28:31]
newdata = data.T
year = df.loc[2]
new_df = pd.concat((newdata, year), axis=1)
new_df
new_df.reset_index(inplace=True)
new_df
#new_df.shape
#new_df.columns = new_df.iloc[2]
#new_df

,index,28,29,30,31,2
0,Unnamed: 0,28,29,30,31,2
1,Alaska Carbon Dioxide Emissions from Fossil Fu...,NaN,NaN,NaN,NaN,NaN
2,Unnamed: 1,Coal,Petroleum Products,Natural Gas,Total,NaN
3,Unnamed: 2,0.4,0.4,1.5,2.3,1980
4,Unnamed: 3,0.5,0.3,1.6,2.4,1981
5,Unnamed: 4,0.5,0.4,1.7,2.6,1982
6,Unnamed: 5,0.5,0.4,1.7,2.6,1983
7,Unnamed: 6,0.5,0.5,1.7,2.6,1984
8,Unnamed: 7,0.4,0.5,1.8,2.7,1985
9,Unnamed: 8,0.4,0.4,1.8,2.7,1986
10,Unnamed: 9,0.4,0.3,1.6,2.4,1987
11,Unnamed: 10,0.4,0.3,1.6,2.4,1988
12,Unnamed: 11,0.4,0.3,1.8,2.6,1989
13,Unnamed: 12,0.4,0.3,1.9,2.6,1990
14,Unnamed: 13,0.4,0.3,1.7,2.5,1991
15,Unnamed: 14,0.4,0.3,1.5,2.3,1992
16,Unnamed: 15,0.4,0.4,1.5,2.3,1993
17,Unnamed: 16,0.4,0.4,1.5,2.3,1994
18,Unnamed: 17,0.4,0.4,1.6,2.4,1995
19,Unnamed: 18,0.3,0.5,1.7,2.5,1996
20,Unnamed: 19,0.4,0.6,1.8,2.7,1997
21,Unnamed: 20,0.8,0.6,1.5,2.9,1998
22,Unnamed: 21,0.7,0.7,1.6,3,1999
23,Unnamed: 22,0.8,0.5,1.9,3.2,2000
24,Unnamed: 23,0.8,0.7,1.7,3.3,2001
25,Unnamed: 24,0.9,0.7,1.7,3.3,2002
26,Unnamed: 25,0.5,0.6,1.8,3,2003
27,Unnamed: 26,0.6,0.6,2,3.2,2004
28,Unnamed: 27,0.6,0.6,2.1,3.2,2005
29,Unnamed: 28,0.6,0.6,2.3,3.5,2006
30,Unnamed: 29,0.6,0.5,2.2,3.3,2007
31,Unnamed: 30,0.6,0.4,2.3,3.3,2008
32,Unnamed: 31,0.6,0.5,2,3.2,2009
33,Unnamed: 32,0.6,0.4,2.1,3,2010
34,Unnamed: 33,0.6,0.4,2.2,3.2,2011
35,Unnamed: 34,0.6,0.4,2.1,3.1,2012
36,Unnamed: 35,0.6,0.3,1.8,2.6,2013
37,Unnamed: 36,0.9,0.3,1.7,2.9,2014

In [44]:
path =r'C:\Users\yongquan\EASE-Project\Original_Data\Carbon_dioxide_emission'
alldatas = glob.glob(path + "/*.csv")
carbon_emission_80to14 = pd.DataFrame()
list80to14_ = []
for data_ in alldatas:
    read_in = pd.read_csv(data_, index_col=None, header=0, error_bad_lines=False)
    result_data = read_in.loc[28:31]
    carbon_emission_table = result_data.T
    year = read_in.loc[2]
    new_table = pd.concat((carbon_emission_table, year), axis=1)
    new_table.columns = ['Coal', 'Petroleum Products', 'Natural Gas', 'Total', 'Year']
    list80to14_.append(new_table)
carbon_emission_80to14 = pd.concat(list80to14_)
carbon_emission_80to14

,Coal,Petroleum Products,Natural Gas,Total,Year
Unnamed: 0,28,29,30,31,2
Alabama Carbon Dioxide Emissions from Fossil Fuel Consumption (1980-2014),NaN,NaN,NaN,NaN,NaN
Unnamed: 1,Coal,Petroleum Products,Natural Gas,Total,NaN
Unnamed: 2,43.9,0.1,0.1,44.1,1980
Unnamed: 3,43.9,0,0.1,44.1,1981
Unnamed: 4,35.2,0,0.1,35.3,1982
Unnamed: 5,38.7,0.1,0,38.8,1983
Unnamed: 6,40.2,0,0,40.3,1984
Unnamed: 7,48.8,0,0.1,48.9,1985
Unnamed: 8,49.1,0,0.1,49.1,1986
Unnamed: 9,47.7,0,0.1,47.8,1987
Unnamed: 10,45.8,0.1,0.1,46,1988
Unnamed: 11,50.3,0.1,0.2,50.6,1989
Unnamed: 12,50.5,0.1,0.3,50.9,1990
Unnamed: 13,54.5,0.1,0.3,54.8,1991
Unnamed: 14,57.3,0.1,0.3,57.6,1992
Unnamed: 15,63.2,0.1,0.3,63.6,1993
Unnamed: 16,59.2,0.1,0.3,59.6,1994
Unnamed: 17,64.6,0.1,0.5,65.1,1995
Unnamed: 18,69.8,0.1,0.4,70.3,1996
Unnamed: 19,67.9,0.1,0.6,68.6,1997
Unnamed: 20,68.9,0.2,1.5,70.6,1998
Unnamed: 21,70.3,0.1,1.4,71.8,1999
Unnamed: 22,74.2,0.2,2.3,76.7,2000
Unnamed: 23,69.9,0.2,3.8,73.9,2001
Unnamed: 24,71.1,0.2,6.1,77.4,2002
Unnamed: 25,73.3,0.2,4.7,78.2,2003
Unnamed: 26,71.2,0.1,6.4,77.6,2004
Unnamed: 27,75.5,0.1,5.7,81.3,2005
Unnamed: 28,75.6,0.1,7.9,83.6,2006
...,...,...,...,...,...
Unnamed: 7,34.9,0.1,0,34.9,1985
Unnamed: 8,28.6,0.1,0,28.6,1986
Unnamed: 9,37,0,0,37,1987
Unnamed: 10,38.8,0.1,0,38.9,1988
Unnamed: 11,36.6,0.1,0,36.7,1989
Unnamed: 12,39.2,0,0,39.2,1990
Unnamed: 13,38.2,0.1,0,38.3,1991
Unnamed: 14,41.9,0,0,41.9,1992
Unnamed: 15,40,0,0,40.1,1993
Unnamed: 16,42,0,0,42.1,1994
Unnamed: 17,39.5,0.1,0,39.6,1995
Unnamed: 18,40.3,0,0,40.4,1996
Unnamed: 19,40,0,0,40,1997
Unnamed: 20,44.4,0,0,44.5,1998
Unnamed: 21,42.7,0,0,42.7,1999
Unnamed: 22,43.9,0,0.1,44,2000
Unnamed: 23,43.8,0,0.1,44,2001
Unnamed: 24,42.3,0,0.2,42.5,2002
Unnamed: 25,43.4,0,0.1,43.6,2003
Unnamed: 26,44,0,0,44.1,2004
Unnamed: 27,43.3,0,0,43.3,2005
Unnamed: 28,43,0,0,43.1,2006
Unnamed: 29,43.4,0,0.1,43.5,2007
Unnamed: 30,43.9,0,0.1,44,2008
Unnamed: 31,41.8,0,0.1,41.9,2009
Unnamed: 32,42.7,0,0,42.8,2010
Unnamed: 33,41,0,0,41.1,2011
Unnamed: 34,43.3,0,0,43.4,2012
Unnamed: 35,46.2,0,0,46.2,2013
Unnamed: 36,43.2,0,0,43.2,2014

In [36]:
#newcarbon = carbon_emission_80to14.reset_index()
#newcarbon
carbon_emission_80to14

pandas.core.frame.DataFrame

In [20]:
statelist = ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
print (statelist)

['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [45]:
carbon_emission_80to14['Coal']
#arranged_data = data.drop(['Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9'],axis = 1)

Unnamed: 0                                                                     28
Alabama Carbon Dioxide Emissions from Fossil Fuel Consumption (1980-2014)     NaN
Unnamed: 1                                                                   Coal
Unnamed: 2                                                                   43.9
Unnamed: 3                                                                   43.9
Unnamed: 4                                                                   35.2
Unnamed: 5                                                                   38.7
Unnamed: 6                                                                   40.2
Unnamed: 7                                                                   48.8
Unnamed: 8                                                                   49.1
Unnamed: 9                                                                   47.7
Unnamed: 10                                                                  45.8
Unnamed: 11                                                                  50.3
Unnamed: 12                                                                  50.5
Unnamed: 13                                                                  54.5
Unnamed: 14                                                                  57.3
Unnamed: 15                                                                  63.2
Unnamed: 16                                                                  59.2
Unnamed: 17                                                                  64.6
Unnamed: 18                                                                  69.8
Unnamed: 19                                                                  67.9
Unnamed: 20                                                                  68.9
Unnamed: 21                                                                  70.3
Unnamed: 22                                                                  74.2
Unnamed: 23                                                                  69.9
Unnamed: 24                                                                  71.1
Unnamed: 25                                                                  73.3
Unnamed: 26                                                                  71.2
Unnamed: 27                                                                  75.5
Unnamed: 28                                                                  75.6
                                                                             ...
Unnamed: 7                                                                   34.9
Unnamed: 8                                                                   28.6
Unnamed: 9                                                                     37
Unnamed: 10                                                                  38.8
Unnamed: 11                                                                  36.6
Unnamed: 12                                                                  39.2
Unnamed: 13                                                                  38.2
Unnamed: 14                                                                  41.9
Unnamed: 15                                                                    40
Unnamed: 16                                                                    42
Unnamed: 17                                                                  39.5
Unnamed: 18                                                                  40.3
Unnamed: 19                                                                    40
Unnamed: 20                                                                  44.4
Unnamed: 21                                                                  42.7
Unnamed: 22                                                                  43.9
Unnamed: 23                                                                  43.8
Unnamed: 24                                                                  42.3
Unnamed: 25                                                                  43.4
Unnamed: 26                                                                    44
Unnamed: 27                                                                  43.3
Unnamed: 28                                                                    43
Unnamed: 29                                                                  43.4
Unnamed: 30                                                                  43.9
Unnamed: 31                                                                  41.8
Unnamed: 32                                                                  42.7
Unnamed: 33                                                                    41
Unnamed: 34                                                                  43.3
Unnamed: 35                                                                  46.2
Unnamed: 36                                                                  43.2
Name: Coal, dtype: object